<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<aside aria-labelledby="h11" class="dividebuy-modal custom-modal modal-<%= data.type %> <%= data.modalClass %>
           <% if(data.responsive){ %><%= data.responsiveClass %><% } %>
           <% if(data.innerScroll){ %><%= data.innerScrollClass %><% } %>"
       data-role="modal" data-type="<%= data.type %>">

    <div class="modal-dialog modal-inner-wrap" data-role="focusable-scope" id="dividebuy_modal" tabindex="0">
        <div class="modal-content" data-role="content" style="overflow: hidden;" tabindex="0">
            <header class="modal-header clearfix">
                <label aria-live="assertive" class="sr-only" id="modalopen" tabindex="0">Modal is open now</label>
                <button aria aria-label="close" class="close" data-role="closeBtn" id="close-dividebuy-modal"
                        type="button">
                    X
                </button>
            </header>
        </div>
        <% if(data.buttons.length > 0){ %>
        <footer class="modal-footer">
            <% _.each(data.buttons, function(button) { %>
            <button class="<%= button.class %>" data-role="action" type="button"><span><%= button.text %></span>
            </button>
            <% }); %>
        </footer>
        <% } %>
    </div>

</aside>
