<?php /** @var $block Magento\Shipping\Block\Adminhtml\Order\Tracking */?>
<script>
require(['jquery','prototype'], function(jQuery){

    //<![CDATA[
    var trackingControl;
    var couriers = new Array();
    var blankCouriers = new Array();
    trackingControl = {
        index : 0,
        add : function () {
            this.index++;
            var data = {index:this.index};
            Element.insert($('track_row_container'), {
                bottom: this.template({
                    data: data
                })
            });
            $('trackingC' + this.index).disabled = false;
            $('trackingT' + this.index).disabled = false;
            $('trackingN' + this.index).disabled = false;
            this.bindCurrierOnchange();
        },
        deleteRow : function(event) {
            var row = Event.findElement(event, 'tr');
            if (row) {
                row.parentNode.removeChild(row)
            }
        },
        bindCurrierOnchange : function() {
            var elems = $('tracking_numbers_table').select('.select');
            elems.each(function (elem) {
                if (!elem.onchangeBound) {
                    elem.onchangeBound = true;
                    elem.valueInput = $(elem.parentNode.parentNode).select('.number-title')[0];
                    elem.observe('change', this.currierOnchange);
                }
            }.bind(this));
        },
        currierOnchange : function(event) {
            var elem = Event.element(event);
            var option = elem.options[elem.selectedIndex];
            if (option.value && option.value != 'custom' && option.value != 'dividebuy_custom') {
                elem.valueInput.value = option.text;
            }
            else {
                elem.valueInput.value = '';
            }
        }
    };

    window.trackingControl = trackingControl;
    //]]>


    require([ 'jquery', 'jquery/ui'], function($){ 
        $(document).ready(function($) {
            if (couriers.length == 0) {
                fetchCourierList();
            }
        });
    });

   fetchCourierList = function() {
        var url = '<?php echo $escaper->escapeUrl($block->getBaseUrl()); ?>shippingconfig/track/fetchcourier';
        jQuery.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            success: function(data) {
                if (data.status) {
                    couriers = data.couriers;
                } else if(data.error){
                    alert(data.message);
                }else{
                    alert("Something went wrong while fetching courier list");
                }
            }
        });
    }

    jQuery(function() {
        jQuery(document).on("change", "select.carrier", function (e) {
            var ddVal = jQuery(this).val();
            if (ddVal == 'dividebuy_custom') {
                jQuery(this).closest("tr").find("input.number-title").autocomplete();
                jQuery(this).closest("tr").find("input.number-title").autocomplete("option", "source", couriers);
            } else {
                jQuery(this).closest("tr").find("input.number-title").autocomplete();
                jQuery(this).closest("tr").find("input.number-title").autocomplete("option", "source", blankCouriers);
            }
        });
        jQuery(document).on("keydown.autocomplete", "input.number-title", function (e) {
            jQuery(this).autocomplete();
            var ddVal = (jQuery(this).closest("tr").find("select.carrier").val());
            if (ddVal == 'dividebuy_custom') {
                jQuery(this).autocomplete("option", "source", couriers);
                setTimeout(function() { 
                    jQuery(".ui-autocomplete.ui-menu li").addClass("ui-menu-item");

                    jQuery( ".ui-autocomplete.ui-menu  li" ).each(function( index ) {
                        jQuery( this ).html('<a class="ui-corner-all">'+jQuery( this ).text()+'</a>');
                    });                    
                }, 1000);
            } else {
                jQuery(this).autocomplete("option", "source", blankCouriers);
            }
        });
    });


});
</script>
<script id="track_row_template" type="text/x-magento-template">
    <tr>
        <td class="col-carrier">
            <select name="tracking[<%- data.index %>][carrier_code]"
                    id="trackingC<%- data.index %>"
                    class="select admin__control-select carrier"
                    disabled="disabled">
                <?php foreach ($block->getCarriers() as $_code => $_name): ?>
                    <option value="<?php /* @escapeNotVerified */echo $_code ?>"><?php echo $escaper->escapeHtml($_name) ?></option>
                <?php endforeach;?>
            </select>
        </td>
        <td class="col-title">
            <input class="input-text admin__control-text number-title"
                   type="text"
                   name="tracking[<%- data.index %>][title]"
                   id="trackingT<%- data.index %>"
                   value=""
                   disabled="disabled" />
        </td>
        <td class="col-number">
            <input class="input-text admin__control-text required-entry"
                   type="text"
                   name="tracking[<%- data.index %>][number]"
                   id="trackingN<%- data.index %>"
                   value=""
                   disabled="disabled" />
        </td>
        <td class="col-delete">
            <button
                type="button"
                class="action-default action-delete"
                onclick="trackingControl.deleteRow(event);return false">
                <span><?php /* @escapeNotVerified */echo __('Delete') ?></span>
            </button>
        </td>
    </tr>
</script>

<div class="admin__control-table-wrapper">
    <table class="data-table admin__control-table" id="tracking_numbers_table">
        <thead>
        <tr class="headings">
            <th class="col-carrier"><?php /* @escapeNotVerified */echo __('Carrier') ?></th>
            <th class="col-title"><?php /* @escapeNotVerified */echo __('Title') ?></th>
            <th class="col-number"><?php /* @escapeNotVerified */echo __('Number') ?></th>
            <th class="col-delete"><?php /* @escapeNotVerified */echo __('Action') ?></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="4" class="col-actions-add"><?php echo $block->getChildHtml('add_button') ?></td>
        </tr>
        </tfoot>
        <tbody id="track_row_container">
        </tbody>
    </table>
</div>
<script>
require([
    'mage/template',
    'prototype'
], function (mageTemplate) {

    //<![CDATA[
    trackingControl.template = mageTemplate('#track_row_template');
    //]]>

});
</script>
