/*m2*/ /*tooltip & product,cart btn start*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
.dividebuy-modal.custom-modal * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: 'Poppins', sans-serif; }
/*tooltip & product,cart btn start*/
/***************************************************************************************
   * Form
***************************************************************************************/
.dividebuy-modal.custom-modal a.blue-text, .dividebuy-modal.custom-modal a:hover.blue-text{ text-decoration:underline}
.dividebuy-modal.custom-modal .modal-content .field-wrapper { position: relative; margin-bottom: 18px; clear: both }
.dividebuy-modal.custom-modal .modal-content .field-wrapper input:focus, .dividebuy-modal.custom-modal .modal-content .field-wrapper select:focus { border: 1px solid #00b3e3; box-shadow: none; }
.dividebuy-modal.custom-modal .modal-content .field-wrapper .field-placeholder { font-size: 16px; position: absolute; -webkit-box-sizing: border-box; box-sizing: border-box; left: 0; padding: 0 8px; -webkit-transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1); transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1); z-index: 1; text-align: left; width: auto; margin-left: 0; cursor: text; top: 8px; }
.dividebuy-modal.custom-modal .modal-content .field-wrapper.form-group .form-control { padding: 19px 28px 19px 10px; border: 1px solid #002f6d; }
.dividebuy-modal.custom-modal .modal-content .field-wrapper.form-group .form-controlinput:-internal-autofill-selected {
background:none;
}
.dividebuy-modal.custom-modal .modal-content .field-wrapper .field-placeholder span { background: #ffffff; padding: 0px 3px; font-weight: normal; font-size: 12px; color: #808080; }
.readonly-fields.dividebuy-modal.custom-modal .modal-content .field-wrapper .field-placeholder span { background: #ffffff; padding: 0px 3px; font-size: 9px; color: #002f6d; }
.dividebuy-modal.custom-modal .modal-content .field-wrapper input:not([disabled]):focus ~ .field-placeholder { color: #00B3E3; }
.dividebuy-modal.custom-modal .modal-content .field-wrapper.form-group .form-control.filledinput { border: 1px solid #002f6d; }
.dividebuy-modal.custom-modal .modal-content .field-wrapper input:not([disabled]):focus ~ .field-placeholder, .dividebuy-modal.custom-modal .modal-content .field-wrapper.hasValue input:not([disabled]) ~ .field-placeholder { -webkit-transform: translateY(-12px); transform: translateY(-12px); left: 0; font-size: 11px; top: 5px; }
.dividebuy-modal.custom-modal .modal-content .field-wrapper input:not([disabled]):focus ~ .field-placeholder span, .dividebuy-modal.custom-modal .modal-content .field-wrapper.hasValue input:not([disabled]) ~ .field-placeholder span { font-size: 9px; color: #002f6d; }
.db-invalid-error.dividebuy-modal.custom-modal .modal-content .field-wrapper input:focus, .db-invalid-error.dividebuy-modal.custom-modal .modal-content .field-wrapper input { border: 1px solid #f54f66 !important; box-shadow: inset 0 1px 1px rgba(213, 0, 0, 0.075), 0 0 8px rgba(213, 0, 0, 0.6); -webkit-box-shadow: inset 0 1px 1px rgba(213, 0, 0, 0.075), 0 0 8px rgba(213, 0, 0, 0.075); }
.db-invalid-error.dividebuy-modal.custom-modal .modal-content .field-wrapper select:focus, .db-invalid-error.dividebuy-modal.custom-modal .modal-content .field-wrapper select { border: 1px solid #f54f66 !important; box-shadow: inset 0 1px 1px rgba(213, 0, 0, 0.075), 0 0 8px rgba(213, 0, 0, 0.6); -webkit-box-shadow: inset 0 1px 1px rgba(213, 0, 0, 0.075), 0 0 8px rgba(213, 0, 0, 0.075); }
.db-invalid-error.dividebuy-modal.custom-modal .modal-content .field-wrapper input:not([disabled]):focus ~ .field-placeholder { color: #f54f66; top: 5px; }
.db-invalid-error.dividebuy-modal.custom-modal .modal-content .field-wrapper select:not([disabled]):focus ~ .field-placeholder { color: #f54f66; top: 5px; }
.dividebuy-modal.custom-modal .modal-content .field-wrapper input[disabled] ~ .field-placeholder, .dividebuy-modal.custom-modal .modal-content .field-wrapper.hasValue input[disabled] ~ .field-placeholder { -webkit-transform: translateY(-12px); transform: translateY(-12px); left: 0; font-size: 11px; top: 5px; }
.dividebuy-modal.custom-modal .modal-content .field-wrapper .field-placeholder-fix span { font-size: 12px; font-weight: normal; }
/*product detial section start*/
.dividebuy-modal.custom-modal .sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0; }
.dividebuy .tooltip-logo { width: 100%; clear: both }
.dividebuy .tooltip-logo .tool-tip-position-right { position: relative; float: right; }
.dividebuy .tooltip-logo .tool-tip-position-left { position: relative; }
.dividebuy .tooltip-logo .highlights-instalments, .dividebuy .tooltip-logo .monthly-instalments, .dividebuy .tooltip-logo .highlights-amt, .dividebuy .tooltip-logo-cart .dividebuy .dividebuy .highlights-instalments, .dividebuy .tooltip-logo-cart .monthly-instalments, .dividebuy .tooltip-logo-cart .highlights-amt { display: inline; }
.dividebuy .tooltip-logo .highlights-instalments, .dividebuy .tooltip-logo .highlights-amt, .dividebuy .tooltip-logo-cart .highlights-instalments, .dividebuy .tooltip-logo-cart .dividebuy .highlights-amt { font-weight: bold;}
.dividebuy-modal.custom-modal .option-text { font-size: 14px; font-weight: bold }
.dividebuy .tooltip-logo .hover-image, .dividebuy .tooltip-logo-cart .hover-image { width: 320px; text-align: center; float: left; margin-bottom: 10px; margin-top: 5px; }
.dividebuy .tooltip-logo .highlights-instalments-text, .dividebuy .tooltip-logo-cart .highlights-instalments-text { padding: 8px; font-size: 12px; line-height: 16px; font-family: Arial, Helvetica, sans-serif; }
.dividebuy .hover-disable { cursor: no-drop; opacity: 0.5; }
/*product detail section end*/
 /*cart section start*/ 
.dividebuy .tooltip-logo-cart { float: left; width: 100%; }
.dividebuy-slip_tooltip_container.slip_tooltip_container { background: #ffffff none repeat scroll 0 0; border: 2px solid #00B3E3; border-radius: 5px; box-shadow: none; box-sizing: border-box; max-width: 350px; padding: 10px; position: absolute; width: 100%; z-index: 99; }
.dividebuy-slip_tooltip_container .slip_tooltip_content { color: #333333; font-family: 'Poppins', sans-serif; font-size: 13px; line-height: 20px; text-align: left; width: auto; }
.dividebuy-slip_tooltip_container .tooltip-box .blue { color: #00B3E3; font-weight: bold; }
.dividebuy-slip_tooltip_container .tooltip-box .grey { color: #76726d; font-weight: bold; }
.dividebuy-slip_tooltip_container .ui-tooltip { border-radius: 8px; }
.dividebuy-slip_tooltip_container.slip_tooltip_container.coupon-box { width: 285px; }
.dividebuy.dividebuy-cart { max-width: 293px; width: 100% }
.dividebuy.dividebuy-cart-right { float: right; }
.dividebuy.dividebuy-cart-left { float: left; }
.dividebuy.dividebuy-cart-center { margin: 0px auto }
.dividebuy-modal.custom-modal .mob-block, .dividebuy .mob-block { display: none }
.dividebuy-modal.custom-modal .ipad-block, .dividebuy .ipad-block { display: none }
.dividebuy-modal.custom-modal .desk-block, .dividebuy .desk-block { display: block }
/*cart section end*/
/*tooltip product,cart btn end*/
/*or divider css start*/
.dividebuy .or-divider-prifix, .dividebuy .or-divider-sufix { cursor: auto; float: left; font-size: 16px; font-weight: normal; text-align: center; width: 100%; }
/*or divider css end*/
/*common css Start*/
.dividebuy .pull-right, .dividebuy-modal.custom-modal .pull-right { float: right; }
.dividebuy .pull-left, .dividebuy-modal.custom-modal .pull-left { float: left; }
.dividebuy-text-left { text-align: left !important }
.dividebuy-text-center { text-align: center !important }
.dividebuy-text-right { text-align: right !important }
.dividebuy a:focus, .dividebuy-modal.custom-modal a:focus, .dividebuy a:hover, .dividebuy-modal.custom-modal a:hover, .dividebuy img, .dividebuy-modal.custom-modal img, .dividebuy img:focus, .dividebuy-modal.custom-modal img:focus, .dividebuy img:hover, .dividebuy-modal.custom-modal img:hover, .dividebuy button, .dividebuy-modal.custom-modal button, .dividebuy button:focus, .dividebuy-modal.custom-modal button:focus, .dividebuy button:hover, .dividebuy-modal.custom-modal button:hover { outline: none !important; text-decoration: none !important; }
.dividebuy-modal.custom-modal button, dividebuy-modal.dividebuy-modal.custom-modal input, dividebuy-modal.dividebuy-modal.custom-modal select, .dividebuy-modal.custom-modal textarea { font-family: 'Poppins', sans-serif; }
.dividebuy .relative { position: relative; }
.dividebuy-modal.custom-modal .modal-content input[type="text"], .dividebuy-modal.custom-modal .modal-content input[type="email"], .dividebuy-modal.custom-modal .modal-content input[type="tel"], .dividebuy-modal.custom-modal .modal-content input[type="number"], .dividebuy-modal.custom-modal .modal-content input[type="url"], .dividebuy-modal.custom-modal .modal-content input[type="password"], .dividebuy-modal.custom-modal .modal-content textarea { line-height: 1.4; padding: 3px 10px; font-size: 14px; font-weight: 400; outline: none; background: transparent; border: 1px solid #7f807c; font-family: arial; border-radius: 3px; margin-bottom: 0; }
.dividebuy-modal.custom-modal .btn-blue, input[type="submit"].btn-blue { font-family: 'Poppins', sans-serif; background: rgb(62, 108, 163); /* Old browsers */ background: -moz-linear-gradient(top, rgba(62, 108, 163, 1) 0%, rgba(62, 123, 190, 1) 38%, rgba(62, 141, 221, 1) 73%, rgba(62, 142, 222, 1) 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, rgba(62, 108, 163, 1) 0%, rgba(62, 123, 190, 1) 38%, rgba(62, 141, 221, 1) 73%, rgba(62, 142, 222, 1) 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, rgba(62, 108, 163, 1) 0%, rgba(62, 123, 190, 1) 38%, rgba(62, 141, 221, 1) 73%, rgba(62, 142, 222, 1) 100%);      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3e6ca3', endColorstr='#00B3E3', GradientType=0);
/* IE6-9 */
color: #ffffff; display: inline-block; font-size: 14px; font-weight: 400; min-width: 80px; padding: 3px 10px; text-align: center; border-radius: 100px; border: medium none; margin-bottom: 15px; line-height: 1.4; transition: none; cursor: pointer; text-decoration: none; }
.dividebuy-modal.custom-modal .btn-blue.focus, .dividebuy-modal.custom-modal .btn-blue:focus, .dividebuy-modal.custom-modal .btn-blue:hover { text-decoration: none; outline: none; background: #4891ce !important; color: #fff !important; }
.dividebuy-modal.custom-modal .btn-grey, input[type="submit"].btn-grey { background: #002F6D; color: #ffffff; display: inline-block; font-size: 14px; font-weight: 700; min-width: 120px; padding: 10px 10px; text-align: center; border-radius: 6px !important; border: medium none; margin-bottom: 25px; line-height: 1.4; border: 0; box-shadow: none; height: auto; text-transform: none; min-height: auto; cursor: pointer; text-decoration: none; font-family: 'Poppins', sans-serif; }
.dividebuy-modal.custom-modal .btn-grey.focus, .dividebuy-modal.custom-modal .btn-grey:focus, .dividebuy-modal.custom-modal .btn-grey:hover, .dividebuy-modal.custom-modal input[type="submit"].btn-grey.focus, .dividebuy-modal.custom-modal input[type="submit"].btn-grey:focus, .dividebuy-modal.custom-modal input[type="submit"].btn-grey:hover { text-decoration: none; outline: none; background: #002F6D !important; color: #fff !important; transition: none; font-family: 'Poppins', sans-serif; }
.dividebuy-login-modal .btn-grey { float: right }
/*GDPR*/
.dividebuy-modal.custom-modal .btn-lightgrey, input[type="submit"].btn-lightgrey { background: -webkit-linear-gradient(top, rgb(153, 152, 143) 0%, rgb(163, 162, 154) 3%, rgb(190, 189, 184) 87%, rgb(191, 190, 185) 97%); background: -o-linear-gradient(top, rgb(153, 152, 143) 0%, rgb(163, 162, 154) 3%, rgb(190, 189, 184) 87%, rgb(191, 190, 185) 97%); background: -ms-linear-gradient(top, rgb(153, 152, 143) 0%, rgb(163, 162, 154) 3%, rgb(190, 189, 184) 87%, rgb(191, 190, 185) 97%); background: -moz-linear-gradient(top, rgb(153, 152, 143) 0%, rgb(163, 162, 154) 3%, rgb(190, 189, 184) 87%, rgb(191, 190, 185) 97%); background: linear-gradient(to bottom, rgb(153, 152, 143) 0%, rgb(163, 162, 154) 3%, rgb(190, 189, 184) 87%, rgb(191, 190, 185) 97%); /* IE6-9 */ color: #ffffff; display: inline-block; font-size: 14px; font-weight: 400; min-width: 80px; padding: 3px 10px; text-align: center; border-radius: 100px !important; border: medium none; margin-bottom: 25px; line-height: 1.4; border: 0; box-shadow: none; height: auto; text-transform: none; min-height: auto; cursor: pointer; text-decoration: none; }
.dividebuy-modal.custom-modal .btn-lightgrey.focus, .dividebuy-modal.custom-modal .btn-lightgrey:focus, .dividebuy-modal.custom-modal .btn-lightgrey:hover, .dividebuy-modal.custom-modal input[type="submit"].btn-lightgrey.focus, .dividebuy-modal.custom-modal input[type="submit"].btn-lightgrey:focus, .dividebuy-modal.custom-modal input[type="submit"].btn-lightgrey:hover { text-decoration: none; outline: none; background: rgb(153, 152, 143) !important; color: #fff !important; transition: none; }
.dividebuy-modal.custom-modal .continue-text { font-size: 12px; margin-bottom: 15px; color: #333333; width: 90%; }
.dividebuy-modal.custom-modal .action-link { border-top: 1px solid #333333; bottom: 14px; text-align: left; padding-top: 13px; right: 0; left: 0; font-size: 12px; margin-top:15px; }
.dividebuy-modal.custom-modal .action-link img { display: inline-block; vertical-align: middle; margin-right: 5px; float: left; }
.dividebuy-footer-link { float: left }
.dividebuy-modal.custom-modal .action-link a, .dividebuy-modal.custom-modal .action-link a:hover, .dividebuy-modal.custom-modal .action-link a:focus, .dividebuy-modal.custom-modal .action-link a:active { color: #00B3E3 !important; font-weight: normal; text-decoration: underline; }
/*GDPR*/
.dividebuy button[type="button"]:focus, .dividebuy-modal.custom-modal button[type="button"]:focus { outline: none; }
.dividebuy .blue-text, .dividebuy-modal.custom-modal .blue-text { color: #00B3E3 !important; font-weight: normal; }
.dividebuy-guest-border hr { background-color: #333; border: 0; height: 1px; margin: 0 0 1.41575em; }
.dividebuy-cart-guest-border { padding-top: 30px; }
.dividebuy .mrg-0, .dividebuy-modal.custom-modal .mrg-0 { margin: 0 !important; line-height: normal; }
.dividebuy .mrg-t-15, .dividebuy-modal.custom-modal .mrg-t-15 { margin-top: 15px; }
.dividebuy .mrg-b-15, .dividebuy-modal.custom-modal .mrg-b-15 { margin-bottom: 15px; }
.dividebuy .pad-0, .dividebuy-modal.custom-modal .pad-0 { padding: 0 !important; }
.dividebuy .text-grey, .dividebuy-modal.custom-modal .text-grey { color: #8f9185; }
.dividebuy .text-center, .dividebuy-modal.custom-modal .text-center { text-align: center; }
.dividebuy .text-left, .dividebuy-modal.custom-modal .text-left { text-align: left; }
.dividebuy .text-right, .dividebuy-modal.custom-modal .text-right { text-align: right; }
.dividebuy .green-text, .dividebuy-modal.custom-modal .green-text { color: #05CE7C; }
.dividebuy .clearfix, .dividebuy-modal.custom-modal .clearfix { display: block; }
.dividebuy .clearfix:after, .dividebuy-modal.custom-modal .clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.dividebuy-modal.custom-modal label { font-weight: 600; -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none; color: #333333; }
.dividebuy .nowrap, .dividebuy-modal.custom-modal .nowrap { white-space: nowrap; }
.dividebuy-modal.custom-modal .modal-content fieldset, .dividebuy-modal.custom-modal .modal-content form { margin: 0; }
.dividebuy .dnone, .dividebuy-modal.custom-modal .dnone { display: none }
.dividebuy .dblock, .dividebuy-modal.custom-modal .dblock { display: block }
.dividebuy-modal.custom-modal .checkout-guest .btn-grey { margin-top: 11px; }
body.dividebuy-loader-open{ overflow:hidden}
body.dividebuy-loader-open .dividebuy-loader-set{border-radius:0;}
/*common css End*/
/*modal css*/
.dividebuy-modal.custom-modal { font-family: 'Poppins', sans-serif; line-height: 1.4; color: #333; }
.dividebuy-modal.custom-modal .logo-img img { width: auto; max-height: 100%; }
.dividebuy-modal.custom-modal .logo-img { max-width: 200px; height: 50px; margin-bottom: 30px; float: left; display: block; }
.dividebuy-modal.custom-modal .modal-body { padding: 24px 50px 30px; position: static; }
.dividebuy-modal.custom-modal .modal-body .dividebuy-login-modal { min-height: 390px; }
.dividebuy-modal.custom-modal .logo-text { font-size: 10px; font-weight: normal; margin-bottom: 15px; clear: both; }
.dividebuy-modal.custom-modal .login-message { font-size: 12px; }
.dividebuy-modal.custom-modal .logo-text { color: #333333; float: left; font-weight: normal; line-height: 1.4; margin-bottom: 15px; }
.dividebuy-modal.custom-modal .checkout-titile { color: #333333; font-size: 14px; margin-bottom: 5px; font-weight: bold; line-height: 1.4; text-decoration: none; text-transform: none; margin-top: 0 }
.dividebuy-modal.custom-modal .modal-heading-title { font-size: 13px; font-weight: 600; color: #333333; text-decoration: none; line-height: 1.4; text-decoration: none; text-transform: none; }
.dividebuy-modal.custom-modal .modal-heading-title-small { font-size: 12px; line-height: 1.4; color: #333333; }
.dividebuy-modal.custom-modal .modal-heading { margin-bottom: 9px; }
.dividebuy-modal.custom-modal .custom-label { color: #333333; font-size: 14px; line-height: 1.4; font-weight: normal; white-space: nowrap; margin-bottom: 5px; display: inline-block }
.dividebuy-modal.custom-modal .shipping-margin-pos .custom-label { white-space: normal; line-height: 1.2; }
.dividebuy-modal.custom-modal .mandatory_field { color: #ff0000; font-size: 10px; padding-top: 5px; padding-bottom: 10px; }
.dividebuy-modal.custom-modal .validation-advice { color: #ff0000; font-size: 10px; line-height: 1.4; margin: 0; background: none; clear: none; }
.dividebuy-modal.custom-modal .modal-content { background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 3px 3px 3px #0000004D; border: 1px solid #333333; border-radius: 10px; }
.dividebuy-modal.custom-modal .modal-header { padding: 3px; border-bottom: none; }
.dividebuy-modal.custom-modal .shipping_code_form { float: left; width: 100%; margin-bottom: 10px; }
.dividebuy-modal.custom-modal .ship-estimation { margin-bottom: 0; float: right; }
.dividebuy-modal.custom-modal .shipping_code_form input.required-entry { width: 59%; margin-right: 10px; }
.dividebuy-modal.custom-modal .shipping_note strong { font-size: 12px; font-weight: normal; font-family: 'Poppins', sans-serif; }
.dividebuy-modal.custom-modal .shipping_note { float: left; font-family: 'Poppins', sans-serif; font-size: 12px; line-height: 17px; color: #333; margin-bottom: 12px }
.dividebuy-modal.custom-modal .dividebuy-shipping-button { text-align: left; }
.dividebuy-modal.custom-modal .modal-content input[type="radio"] { vertical-align: top; margin-top: 2px; margin-right: 7px; }
.dividebuy-modal.custom-modal .method-points { padding-bottom: 15px; float: left; width: 100%; font-size: 12px; font-family: arial; font-weight: normal; }
.dividebuy-modal.custom-modal .shipping-m-title { font-size: 14px; font-weight: 700; text-transform: none; line-height: 1.4; margin-bottom: 20px; font-family: 'Poppins', sans-serif; color: #333; }
.dividebuy-modal.custom-modal .all_shipping_methods .dividebuy-shipping-methods { margin-top: 25px; min-height: 214px; }
.dividebuy-modal.custom-modal input.btn-checkout-modal { background: rgba(0, 0, 0, 0) url(../images/dividebuy-checkout-img.png) no-repeat scroll 0 0 / 100% auto !important; border: medium none; float: right; font-size: 0; height: 48px; width: 182px; box-shadow: none; outline: 0 !important; }
.dividebuy-modal.custom-modal .cart-heading, .dividebuy-modal.custom-modal .grand-total { font-size: 14px; margin-bottom: 15px; font-weight: bold; font-family: 'Poppins', sans-serif; }
.dividebuy-modal.custom-modal .dividebuy-sp-methods { margin-top: 42px; }
.dividebuy-modal.custom-modal .dividebuy-sp-methods .btn-grey { margin-bottom: 0; }
.dividebuy-modal.custom-modal .pro-name { word-wrap: break-word; font-weight: normal; color: #333333; font-size: 12px; font-family: 'Poppins', sans-serif; }
.dividebuy-modal.custom-modal .side-content p { line-height: 18px; font-size: 12px; font-weight: normal; color: #333333; margin-bottom: 10px; font-family: 'Poppins', sans-serif; }
.dividebuy-modal.custom-modal .text-details { margin: 10px 0 20px 0; font-size: 14px; font-family: 'Poppins', sans-serif; color: #333333; }
.dividebuy-modal.custom-modal .modal-content-area .price { color: #00B3E3; font-size: 12px; }
.dividebuy-modal.custom-modal .modal-header .close { opacity: 1; width: 20px; height: 20px; margin-top: 5px; margin-right: 5px; text-shadow: none; float: right; border: 0; box-shadow: none; background: none; display: block; padding: 0; }
.dividebuy-modal.custom-modal .form-control:focus { border-color: #00B3E3 !important; }
.dividebuy-modal.custom-modal .form-control:focus { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6); }
.dividebuy-modal.custom-modal .datas { margin-left: 0; padding-left: 0 }
.dividebuy-modal.custom-modal .cs-scroll { max-height: 250px; }
.dividebuy-modal.custom-modal a:focus#divide-buy-modal { outline: 0; }
.dividebuy-modal.custom-modal .wrap-h { display: table; width: 100%; }
.dividebuy-modal.custom-modal .left-h { display: table-cell; padding-right: 15px; width: 71% }
.dividebuy-modal.custom-modal .right-h { display: table-cell; vertical-align: middle; text-align: right; }
.dividebuy-modal.custom-modal .left-h .mCSB_scrollTools { right: 25px; }
.dividebuy-modal.custom-modal .custom-login { width: 100%; float: left; }
.dividebuy-modal.custom-modal .form-control { height: 34px !important; width: 100% !important; }
.dividebuy-modal.custom-modal .shopping-scroll { height: 150px; }
.dividebuy-modal.custom-modal .grand-total .price { font-family: arial; }
.dividebuy-modal.custom-modal .ship-text { margin-left: 20px }
.dividebuy-modal.custom-modal .ship-radio { float: left; }
.dividebuy-modal.custom-modal .shipping-m-title-1 { line-height: 1.4; margin-bottom: 10px; float: left; color: #333333; font-family: 'Poppins', sans-serif; font-size: 12px }
.dividebuy-modal.custom-modal .price { font-family: 'Poppins', sans-serif; color: #333333; font-size: 12px; }
.dividebuy-modal.custom-modal .blue-text .price { color: #00B3E3 !important; }
.dividebuy-modal.custom-modal .shipping-error { color: red; font-size: 10px; }
.dividebuy-modal.custom-modal .option-note { font-weight: 700; font-family: 'Poppins', sans-serif; font-size: 14px; margin-bottom: 10px; }
.dividebuy-modal.custom-modal .method-points .control { font-size: 12px }
.dividebuy-modal.custom-modal .modal-content { position: relative; outline: 0; background-clip: padding-box; }
.dividebuy-modal.custom-modal .modal-popup .modal-header, .dividebuy-modal.custom-modal .modal-popup .modal-content, .dividebuy-modal.custom-modal .modal-popup .modal-footer { border: 0; text-align: left; overflow: hidden; }
.dividebuy-modal.custom-modal .modal-popup .modal-footer { text-align: left }
.dividebuy-modal.custom-modal .form-group { margin-bottom: 15px; }
.dividebuy-modal.custom-modal .modal-inner-wrap { background: none }
.dividebuy-modal.custom-modal .img-thumbnail { display: inline-block; height: auto; max-width: 100%; padding: 4px; line-height: 1.428571429; background-color: #fff; border: 1px solid #ddd; border-radius: 4px; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.dividebuy-modal.custom-modal .img-responsive { display: block; height: auto; max-width: 100%; }
.dividebuy-modal.custom-modal .modal-content-area { padding-left: 10px; }
.dividebuy .clear, .dividebuy-modal.custom-modal .clear { clear: both }
.dividebuy-modal.custom-modal.fade { opacity: 0; -webkit-transition: opacity .15s linear; -o-transition: opacity .15s linear; transition: opacity .15s linear; }
.dividebuy-modal.custom-modal.fade.in-modal { opacity: 1; }
.dividebuy-modal.custom-modal.modal.in-modal .modal-dialog { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }
.dividebuy-modal-container { min-height: 453px; }
/*hover tooltip*/
/*custom modal css end*/
 /*custom radio button*/
.dividebuy-modal.custom-modal .control-group { display: inline-block; vertical-align: top; background: #fff; text-align: left; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); padding: 30px; width: 200px; height: 210px; margin: 10px; }
.dividebuy-modal.custom-modal .control { display: block; position: relative; padding-left: 25px; /* margin-bottom: 15px; */ cursor: pointer; font-size: 14px; color: #333333; font-weight: normal; font-family: 'Poppins', sans-serif; }
.dividebuy-modal.custom-modal .control input { position: absolute; z-index: -1; opacity: 0; }
.dividebuy-modal.custom-modal .control__indicator { position: absolute; top: 2px; left: 0; height: 14px; width: 14px; background: transparent; border: solid 1px #E5E5E5; }
.dividebuy-modal.custom-modal .control--radio .control__indicator { border-radius: 50%; }
/*custom Scroll*/
.dividebuy-modal.custom-modal .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden { margin-right: 30px; }
.dividebuy-modal.custom-modal .control input:checked~.control__indicator { background: #fff; border: solid 1px #E5E5E5; }
.dividebuy-modal.custom-modal .control:hover input:not([disabled]):checked~.control__indicator, .dividebuy-modal.custom-modal .control input:checked:focus~.control__indicator { background: #fff; border: solid 1px #E5E5E5; }
.dividebuy-modal.custom-modal .control input:disabled~.control__indicator { background: #e6e6e6; opacity: 0.6; pointer-events: none; }
.dividebuy-modal.custom-modal .control__indicator:after { content: ''; position: absolute; display: none; }
.dividebuy-modal.custom-modal .control input:checked~.control__indicator:after { display: block; }
.dividebuy-modal.custom-modal .control--checkbox .control__indicator:after { left: 8px; top: 4px; width: 3px; height: 8px; border: solid #fff; border-width: 0 2px 2px 0; transform: rotate(45deg); }
.dividebuy-modal.custom-modal .control--checkbox input:disabled~.control__indicator:after { border-color: #7b7b7b; }
.dividebuy-modal.custom-modal .control--radio .control__indicator:after { width: 8px; border-radius: inherit; background: #002F6D; height: 8px; left: 2px; top: 2px; }
.dividebuy-modal.custom-modal .method-price { color: #333333; }
.dividebuy-modal.custom-modal .control--radio input:disabled~.control__indicator:after { background: #7b7b7b; }
.dividebuy-modal.custom-modal .select { position: relative; display: inline-block; margin-bottom: 15px; width: 100%; }
.dividebuy-modal.custom-modal .select select { display: inline-block; width: 100%; cursor: pointer; padding: 10px 15px; outline: 0; border: 0; border-radius: 0; background: #e6e6e6; color: #7b7b7b; appearance: none; -webkit-appearance: none; -moz-appearance: none; }
.dividebuy-modal.custom-modal .select select::-ms-expand {
display: none;
}
.dividebuy-modal.custom-modal .select select:hover, .dividebuy-modal.custom-modal .select select:focus { color: #000; background: #ccc; }
.dividebuy-modal.custom-modal .select select:disabled { opacity: 0.5; pointer-events: none; }
.dividebuy-modal.custom-modal .select__arrow { position: absolute; top: 16px; right: 15px; width: 0; height: 0; pointer-events: none; border-style: solid; border-width: 8px 5px 0 5px; border-color: #7b7b7b transparent transparent transparent; }
.dividebuy-modal.custom-modal .select select:hover~.select__arrow, .dividebuy-modal.custom-modal .select select:focus~.select__arrow { border-top-color: #000; }
.dividebuy-modal.custom-modal .select select:disabled~.select__arrow { border-top-color: #ccc; }
.dividebuy-modal.custom-modal .product-image-1 { width: 100px; }
.dividebuy-modal.custom-modal .shipping_information-pos { margin-bottom: 15px; }
.dividebuy-modal.custom-modal .shipping_information .custom-label { font-family: 'Poppins', sans-serif; }
.dividebuy-modal { overflow: hidden }
/*custom radio button end*/
.dividebuy-modal.custom-modal #all_shipping_methods font {
    font-size: 12px;
}
.dividebuy-modal.custom-modal #all_shipping_methods {
    padding-top:15px
}
 /*loader css start*/
#dividebuy-loader { background: rgba(0, 0, 0, 0) url(../images/ring-loader.svg) no-repeat scroll 0 0 / 100% auto; height: 85px; left: 50%; margin: 0; position: absolute; top: 50%; width: 85px; z-index: 1; transform: translate(-50%, -50%); }
.dividebuy-loader-set { background: rgba(220, 220, 220, 0.8) none repeat scroll 0 0; bottom: 0; display: block; float: left; height: 100%; left: 0; position: fixed; right: 0; top: 0; width: 100%; display: none; z-index: 9999; overflow-y: hidden; border-radius: 10px; }
/*loader css end*/
 /*other css*/
#dividebuy_text { display: none; position: absolute; width: 350px; padding: 10px; background: #eeeeee; color: #000000; border: 1px solid #1a1a1a; font-size: 90%; }
#dividebuy_checkout_button { background: transparent !important; }
#submit_dividebuy_checkout { background: url(../images/dividebuy-checkout.png); height: 70px; width: 240px; background-repeat: no-repeat; box-shadow: none; }
span.dividebuy-span_imgchange img.buttonImage { display: inline-block; float: none; }
span.dividebuy-span_imgchange a:hover { text-decoration: none !important; }
.dividebuy-modal.custom-modal .modal-image { float: left; display: block; width: auto; height: 100%; }
.dividebuy-modal.custom-modal .modal-image-area { float: left; width: 75px; height: 75px; }
.dividebuy-modal.custom-modal .modal-content-area { padding-left: 10px; }
.dividebuy-modal.custom-modal .shoppingcartTable ul { list-style: none; }
.dividebuy-modal.custom-modal .datas li { margin-bottom: 10px; min-height: 70px; }
.dividebuy-modal .estimate-page input { vertical-align: bottom; }
.dividebuy-modal.custom-modal .estimate-page-area .btn-blue { border-radius: 100px; border-color: #4891ce; }
.dividebuy .or-class { text-align: center; float: left; width: 100%; }
.dividebuy-modal .side-content span.blue-text { display: block; }
.dividebuy-modal.custom-modal .shipping_information span.option-note { display: block; text-align: center; }
.dividebuy-modal.custom-modal .label-divide { -moz-user-select: none; display: inline-block; font-size: 13px; font-weight: 600; margin-right: 10px; }
.dividebuy-modal.custom-modal .shipping_code_form div.validation-advice { margin-left: 123px; }
.dividebuy-modal.custom-modal .mCS_no_scrollbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { display: none }
.dividebuy-modal.custom-modal .shipping_methods_list { margin-bottom: 10px; }
.dividebuy-modal.custom-modal .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden { margin-right: 30px; }
.dividebuy-modal.custom-modal .mCS_no_scrollbar .mCSB_scrollTools .mCSB_draggerRail, .dividebuy-modal.custom-modal .mCSB_scrollTools .mCSB_draggerRail { border: 1px solid #80D9F2; background: #fff; }
.dividebuy-modal.custom-modal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background-color: #3399CC; background-color: #3399CC; background: #3399CC; }
/*new tooltip*/
 /* Product page new tooltip changes */
.dividebuy-calculator #dividebuy_tooltip_open, .dividebuy-calculator a:hover#dividebuy_tooltip_open { color: #00b3e3 !important; line-height: 15px; display: inline-block; text-decoration: underline; text-align: center; margin-bottom: 0px; font-family: 'Poppins', sans-serif; font-size: 13px; }
#dividebuy-text img { vertical-align: middle; width: auto; display: inline-block; margin-left: 2px; height: 16px; }
.dividebuy #dividebuy-text { text-align: center; display: block; font-size: 12px; margin-top: 10px; margin-bottom: 10px;  font-family: 'Poppins', sans-serif; }
.dividebuy-retailer-color { display: block; max-width: 184px; margin: 0px auto; }
.dividebuy-retailer-color span.dividebuy-spreadcost { font-size: 12px; font-weight: normal; display: block; color: #fff; padding: 0; height: 31px; line-height: 31px; text-align: center; background: #002F6D; border-radius: 6px; font-family: 'Poppins', sans-serif; margin-bottom: 10px; }
.dividebuy-retailer-color span.dividebuy-spreadcost.dividebuy-spreadcost-default { border-radius: 6px; }
.dividebuy-retailer-color span.dividebuy-spreadcost.dividebuy-spreadcost-rounded { border-radius: 16px; }
.dividebuy-retailer-color span.dividebuy-spreadcost.dividebuy-spreadcost-sharp { border-radius: 0px; }
.dividebuy-retailer-color span.dividebuy-spreadcost img { display: inline-block; vertical-align: middle; margin-top: 2px; width:59px; }
.dividebuy-product-tooltip #dividebuy-text { text-align: left }
.dividebuy #dividebuy-text.dividebuy-text-cart { text-align: center; display: block; font-size: 11px; font-weight: 600; line-height: 16px; margin-top: 11px; overflow: hidden; margin-top: 0px;font-family: 'Poppins', sans-serif; }
.dividebuy-tooltip { clear: both; font-family: 'Poppins', sans-serif; max-width: 545px; width: 100%; z-index: 999999; border-radius: 0; background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 0px 3px 6px #0000004D; border: 1px solid #B2B2B2; color: #333333; overflow: hidden; padding-bottom: 9px; font-weight: 500; min-width: 415px; }
.dividebuy-close { font-size: 14px; color: #333333; text-align: right; font-weight: 700; margin-right: 10px; margin-top: 8px; line-height: 1; cursor: pointer; }
.dividebuy-instalment:first-child { margin-top: 18px; }
.dividebuy-instalment { font-size: 14px; line-height: 1; float: left; width: 100%; margin-top: 26px; font-family: 'Poppins', sans-serif; }
.dividebuy-instalment .dividebuy-monthly-instalments { width: 50%; float: left; text-align: left; font-weight: 500; font-family: 'Poppins', sans-serif; }
.dividebuy-instalment .dividebuy-monthly-instalments span { font-weight: 700 }
.dividebuy-instalment .dividebuy-installment-amount { width: 50%; float: left; text-align: right; font-weight: 700 }
.dividebuy-spend-text { font-size: 10px; padding-bottom: 3px; font-family: 'Poppins', sans-serif; }
.dividebuy-instalment-disabled { color: #999999; margin-top: 23px; }
.dividebuy-instalment-total { color: #002F6D; border-top: 2px solid #002F6D; border-bottom: 2px solid #002F6D; font-size: 14px; margin-top: 20px; clear: both; float: left; width: 100%; padding: 15px 0; line-height: 1; }
.dividebuy-instalment-total .dividebuy-instalment-total-text { float: left; width: 43%; text-align: left; font-weight: 500; }
.dividebuy-instalment-total .dividebuy-instalment-total-amount { float: left; width: 57%; text-align: right; font-weight: 500; }
.dividebuy-instalment-total span { font-weight: 700; }
.dividebuy .tooltip-logo-cart .dividebuy-tooltip { left: 50%; transform: translateX(-50%); }
.dividebuy .tooltip-logo-cart .dividebuy-tooltip.dividebuy-cart-tooltip-right { right: 0; left: auto; transform: none; }
.dividebuy .tooltip-logo-cart .dividebuy-tooltip.dividebuy-cart-tooltip-left { left: 0; transform: none; }
/*End new tooltip*/
/* The Modal (background) */
.dividebuy-modal.custom-modal { position: fixed; z-index: 10400; padding-top: 0px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.4); margin-left: 0;  font-family:'Poppins', sans-serif;}
/* Modal Content */
.dividebuy-modal.custom-modal .modal-content { position: relative; -webkit-animation-name: dividebuy-animatetop; -webkit-animation-duration: 0.4s; animation-name: dividebuy-animatetop; animation-duration: 0.4s; padding: 0; }
 /* Add Animation */
 @-webkit-keyframes dividebuy-animatetop { from {
 top: -300px;
 opacity: 0
}
to { top: 0; opacity: 1 }
}
 @keyframes dividebuy-animatetop { from {
 top: -300px;
 opacity: 0
}
to { top: 0; opacity: 1 }
}
/* The Close Button */
.dividebuy-modal.custom-modal .close { color: #00B3E3; float: right; font-size: 14px; font-weight: bold; }
.dividebuy-modal.custom-modal .close:hover, .dividebuy-modal.custom-modal .close:focus { color: #00B3E3; text-decoration: none; cursor: pointer; }
.dividebuy-loader-on { bottom: 0; left: 0; overflow-y: hidden; position: fixed; right: 0; top: 0; }
.dividebuy-modal.custom-modal .datas li { margin-left: 0; }
.dividebuy-modal.custom-modal.guest-image { display: inline-block; }
#divide-buy-modal { max-width: 184px; margin: 0px auto; }
.dividebuy-modal.custom-modal .validation-advice { padding: 0; }
.dividebuy-modal.custom-modal .validation-fix { width: 100%; }
.dividebuy-modal.custom-modal .blue-text span.price { color: #00B3E3 !important; font-size: 14px; }
.dividebuy-modal.custom-modal .green-text span.price { color: #05ce7c !important; font-size: 14px; }
/* checkout changes */
body.dividebuy-modal-open { overflow: hidden; }
.dividebuy-payment-description { font-family: 'Poppins', sans-serif; clear: both; text-align:left; }
.dividebuy-payment-description .payment-title { color: #333; font-size: 12px; font-weight: 700; margin-bottom: 0; padding-top: 8px; }
.dividebuy-softsearch {
    font-size: 10px;
    text-align: center;
    color: #636363;
    font-family: 'Poppins', sans-serif;
}
.payment_method_dividebuy .dividebuy-softsearch { padding: 0px 56px; padding-bottom: 10px; text-align: left }
.dividebuy-payment-description .payment-note { margin-top: 0; font-size: 10px; color: #333333; line-height: normal; margin-bottom: 0; }
.dividebuy-payment-description .security-reason { margin-top: 6px; font-size: 10px; float: left; width: 100%; }
.dividebuy-payment-description .dividebuy_instalment_data, .dividebuy-payment-description .dividebuy_instalment_data-1 { width: 25%; float: left; }
.dividebuy-payment-description .data { float: left; padding: 2px 0; width: 100%; display: table }
.dividebuy-payment-description .dividebuy_instalment_data-2 { width: 75%; float: left; color: #808080; }
.dividebuy-payment-description .dividebuy-checkout-row.dividebuy-active-row .dividebuy_instalment_data-2 { color: #002F6D; }
.dividebuy-payment-description .dividebuy_instalment_data-2 .data { width: 33%; text-align: center; }
.dividebuy-payment-description .interest-text, .dividebuy-payment-description .interest-digit { display: block; }
.dividebuy-payment-description .dividebuy-checkout-row { float: left; width: 100%; margin-bottom: 4px; border-radius: 3px; margin-top: 2px; border: 1px solid #808080; }
.dividebuy-payment-description .interest-main-figure { width: 78%; float: right; text-align: center; font-size: 16px; font-weight: 700; }
.dividebuy-payment-description .interest-input { width: 22%; float: left; text-align: center; margin-top: 3px; }
.dividebuy-payment-description .interest-input input.dividebuy-input-radio { margin-top: 4px !important }
.dividebuy-payment-description .interest-text, .interest-digit { display: block; }
.dividebuy-payment-description .interest-text { font-size: 12px; }
.dividebuy-payment-description .interest-digit { font-size: 16px; margin-top: 2px; }
.dividebuy-payment-description .interest-figure { display: block; font-weight: 700; font-size: 16px; margin-top: 2px; }
.content-box .dividebuy-payment-description .dividebuy_instalment_data .input-radio { background: #fff; border: none; }
.dividebuy-payment-description .dividebuy_instalment_data .input-radio:checked { -webkit-box-shadow: 0 0 0 10px #fff inset; box-shadow: 0 0 0 10px #fff inset; }
.dividebuy-payment-description .dividebuy_instalment_data .input-radio:after { width: 10px; height: 10px; margin-left: -5px; margin-top: -5px; background-color: #197bbd; border-radius: 50%; }
.dividebuy-payment-description .dividebuy_instalment_data .input-radio:checked:focus { border: none; outline: none; }
.dividebuy-payment-description .dividebuy_instalment_data { background: #808080; color: #fff; }
.dividebuy-payment-description .dividebuy-checkout-row.dividebuy-active-row .dividebuy_instalment_data { background: #002F6D; }
.dividebuy-payment-description .dividebuy-checkout-row.dividebuy-active-row { border: 1px solid #002F6D; }
dt#dt_method_custom_payment .dividebuy-payment-description .interest-input input.input-radio { margin-top: -4px; }
dt#dt_method_custom_payment .dividebuy-span_imgchange { float: left; margin-top: 10px; }
.dividebuy-softsearch a, .dividebuy-softsearch a:hover { font-size: 12px; text-decoration: underline; font-weight: 700; color: #00b3e3 }
#dt_method_custom_payment { position: relative; }
#dt_method_custom_payment .dividebuy-softsearch { position: absolute; top: 5px; right: 0; }
.dividebuy-payment-method #dividebuy-softsearch{ float:right; margin-top:5px;}
/*Checkout header*/
.dividebuy-payment-description .dividebuy-checkout-header { background: #fff; border: 0; color: #002F6D; margin-top: 15px; }
.dividebuy-payment-description .dividebuy-checkout-header .dividebuy_instalment_data { background: none; color: #002F6D }
.dividebuy-payment-description .dividebuy-checkout-header .interest-main-figure, .dividebuy-payment-description .dividebuy-checkout-header .interest-digit { font-size: 10px; font-weight: normal; color: #002F6D; margin: 0px auto; display: table-cell; vertical-align: middle; height: 30px; text-align: center; float: none; }
/*Woocomerce related class*/
.payment_method_dividebuy .label-banner { float: right }
.checkout-payment-method .payment-method._active.dividebuy-payment-method .payment-method-content{ display: block; }
.checkout-index-index .modal-popup.dividebuy-modal .modal-inner-wrap { max-width: 700px; left: 0; margin-left: auto;}
.dividebuy #dividebuy-text{text-align: left;}
.dividebuy-payment-method .primary {width: 100%;}
.dividebuy_instalment_mininfo span, .dividebuy_instalment_maxinfo span{font-weight: 700;color: #00b3e3;}
.dividebuyTabelCellFinanceLabel{padding: 3px 5px;font-size: 11px;font-weight: 600;color: #696969;}
 /*Grid*/
 @media(min-width:768px) {
.dividebuy-modal.custom-modal .dividebuy-row { margin-right: -15px; margin-left: -15px; }
.dividebuy-modal.custom-modal .row { margin-right: -15px; margin-left: -15px; }
.dividebuy-modal.custom-modal .col-lg-1, .dividebuy-modal.custom-modal .col-lg-10, .dividebuy-modal.custom-modal .col-lg-11, .dividebuy-modal.custom-modal .col-lg-12, .dividebuy-modal.custom-modal .col-lg-2, .dividebuy-modal.custom-modal .col-lg-3, .dividebuy-modal.custom-modal .col-lg-4, .dividebuy-modal.custom-modal .col-lg-5, .dividebuy-modal.custom-modal .col-lg-6, .dividebuy-modal.custom-modal .col-lg-7, .dividebuy-modal.custom-modal .col-lg-8, .dividebuy-modal.custom-modal .col-lg-9, .dividebuy-modal.custom-modal .col-md-1, .dividebuy-modal.custom-modal .col-md-10, .dividebuy-modal.custom-modal .col-md-11, .dividebuy-modal.custom-modal .col-md-12, .dividebuy-modal.custom-modal .col-md-2, .dividebuy-modal.custom-modal .col-md-3, .dividebuy-modal.custom-modal .col-md-4, .dividebuy-modal.custom-modal .col-md-5, .dividebuy-modal.custom-modal .col-md-6, .dividebuy-modal.custom-modal .col-md-7, .dividebuy-modal.custom-modal .col-md-8, .dividebuy-modal.custom-modal .col-md-9, .dividebuy-modal.custom-modal .col-sm-1, .dividebuy-modal.custom-modal .col-sm-10, .dividebuy-modal.custom-modal .col-sm-11, .dividebuy-modal.custom-modal .col-sm-12, .dividebuy-modal.custom-modal .col-sm-2, .dividebuy-modal.custom-modal .col-sm-3, .dividebuy-modal.custom-modal .col-sm-4, .dividebuy-modal.custom-modal .col-sm-5, .dividebuy-modal.custom-modal .col-sm-6, .dividebuy-modal.custom-modal .col-sm-7, .dividebuy-modal.custom-modal .col-sm-8, .dividebuy-modal.custom-modal .col-sm-9, .dividebuy-modal.custom-modal .col-xs-1, .dividebuy-modal.custom-modal .col-xs-10, .dividebuy-modal.custom-modal .col-xs-11, .dividebuy-modal.custom-modal .col-xs-12, .dividebuy-modal.custom-modal .col-xs-2, .dividebuy-modal.custom-modal .col-xs-3, .dividebuy-modal.custom-modal .col-xs-4, .dividebuy-modal.custom-modal .col-xs-5, .dividebuy-modal.custom-modal .col-xs-6, .dividebuy-modal.custom-modal .col-xs-7, .dividebuy-modal.custom-modal .col-xs-8, .dividebuy-modal.custom-modal .col-xs-9 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
/*.container { max-width: 750px }*/
.dividebuy-modal.custom-modal .col-sm-1, .dividebuy-modal.custom-modal .col-sm-2, .dividebuy-modal.custom-modal .col-sm-3, .dividebuy-modal.custom-modal .col-sm-4, .dividebuy-modal.custom-modal .col-sm-5, .dividebuy-modal.custom-modal .col-sm-6, .dividebuy-modal.custom-modal .col-sm-7, .dividebuy-modal.custom-modal .col-sm-8, .dividebuy-modal.custom-modal .col-sm-9, .dividebuy-modal.custom-modal .col-sm-10, .dividebuy-modal.custom-modal .col-sm-11 { float: left }
.dividebuy-modal.custom-modal .col-md-1, .dividebuy-modal.custom-modal .col-md-10, .dividebuy-modal.custom-modal .col-md-11, .dividebuy-modal.custom-modal .col-md-12, .dividebuy-modal.custom-modal .col-md-2, .dividebuy-modal.custom-modal .col-md-3, .dividebuy-modal.custom-modal .col-md-4, .dividebuy-modal.custom-modal .col-md-5, .dividebuy-modal.custom-modal .col-md-6, .dividebuy-modal.custom-modal .col-md-7, .dividebuy-modal.custom-modal .col-md-8, .dividebuy-modal.custom-modal .col-md-9 { float: left; }
.dividebuy-modal.custom-modal .col-sm-1 { width: 8.333333333333332% }
.dividebuy-modal.custom-modal .col-sm-2 { width: 16.666666666666664% }
.dividebuy-modal.custom-modal .col-sm-3 { width: 25% }
.dividebuy-modal.custom-modal .col-sm-4 { width: 33.33333333333333% }
.dividebuy-modal.custom-modal .col-sm-5 { width: 41.66666666666667% }
.dividebuy-modal.custom-modal .col-sm-6 { width: 50% }
.dividebuy-modal.custom-modal .col-sm-7 { width: 58.333333333333336% }
.dividebuy-modal.custom-modal .col-sm-8 { width: 66.66666666666666% }
.dividebuy-modal.custom-modal .col-sm-9 { width: 75% }
.dividebuy-modal.custom-modal .col-sm-10 { width: 83.33333333333334% }
.dividebuy-modal.custom-modal .col-sm-11 { width: 91.66666666666666% }
.dividebuy-modal.custom-modal .col-sm-12 { width: 100% }
.dividebuy-modal.custom-modal .col-sm-push-1 { left: 8.333333333333332% }
.dividebuy-modal.custom-modal .col-sm-push-2 { left: 16.666666666666664% }
.dividebuy-modal.custom-modal .col-sm-push-3 { left: 25% }
.dividebuy-modal.custom-modal .col-sm-push-4 { left: 33.33333333333333% }
.dividebuy-modal.custom-modal .col-sm-push-5 { left: 41.66666666666667% }
.dividebuy-modal.custom-modal .col-sm-push-6 { left: 50% }
.dividebuy-modal.custom-modal .col-sm-push-7 { left: 58.333333333333336% }
.dividebuy-modal.custom-modal .col-sm-push-8 { left: 66.66666666666666% }
.dividebuy-modal.custom-modal .col-sm-push-9 { left: 75% }
.dividebuy-modal.custom-modal .col-sm-push-10 { left: 83.33333333333334% }
.dividebuy-modal.custom-modal .col-sm-push-11 { left: 91.66666666666666% }
.dividebuy-modal.custom-modal .col-sm-pull-1 { right: 8.333333333333332% }
.dividebuy-modal.custom-modal .col-sm-pull-2 { right: 16.666666666666664% }
.dividebuy-modal.custom-modal .col-sm-pull-3 { right: 25% }
.dividebuy-modal.custom-modal .col-sm-pull-4 { right: 33.33333333333333% }
.dividebuy-modal.custom-modal .col-sm-pull-5 { right: 41.66666666666667% }
.dividebuy-modal.custom-modal .col-sm-pull-6 { right: 50% }
.dividebuy-modal.custom-modal .col-sm-pull-7 { right: 58.333333333333336% }
.dividebuy-modal.custom-modal .col-sm-pull-8 { right: 66.66666666666666% }
.dividebuy-modal.custom-modal .col-sm-pull-9 { right: 75% }
.dividebuy-modal.custom-modal .col-sm-pull-10 { right: 83.33333333333334% }
.dividebuy-modal.custom-modal .col-sm-pull-11 { right: 91.66666666666666% }
.dividebuy-modal.custom-modal .col-sm-offset-1 { margin-left: 8.333333333333332% }
.dividebuy-modal.custom-modal .col-sm-offset-2 { margin-left: 16.666666666666664% }
.dividebuy-modal.custom-modal .col-sm-offset-3 { margin-left: 25% }
.dividebuy-modal.custom-modal .col-sm-offset-4 { margin-left: 33.33333333333333% }
.dividebuy-modal.custom-modal .col-sm-offset-5 { margin-left: 41.66666666666667% }
.dividebuy-modal.custom-modal .col-sm-offset-6 { margin-left: 50% }
.dividebuy-modal.custom-modal .col-sm-offset-7 { margin-left: 58.333333333333336% }
.dividebuy-modal.custom-modal .col-sm-offset-8 { margin-left: 66.66666666666666% }
.dividebuy-modal.custom-modal .col-sm-offset-9 { margin-left: 75% }
.dividebuy-modal.custom-modal .col-sm-offset-10 { margin-left: 83.33333333333334% }
.dividebuy-modal.custom-modal .col-sm-offset-11 { margin-left: 91.66666666666666% }
.dividebuy-modal.custom-modal .mob-block, .dividebuy .mob-block { display: none }
.dividebuy-modal.custom-modal .ipad-block, .dividebuy .ipad-block { display: block }
.dividebuy-modal.custom-modal .desk-block, .dividebuy .desk-block { display: none }
}
 /*Grid End*/
 @media (min-width:768px) {
.dividebuy-modal.custom-modal .shipping-margin { margin-top: 8px; }
.dividebuy-modal.custom-modal .your-postcode { white-space: nowrap; }
.dividebuy-modal.custom-modal .modal-dialog { width: 600px; margin: 30px auto; }
.dividebuy-modal.custom-modal .shipping-margin-pos { margin-top: 0px; padding-right: 0; }
}
 @media only screen and (min-device-width : 768px) and (max-device-width : 1199px) {
.dividebuy-modal.custom-modal .shipping-margin-pos { padding-right: 0; }
}
@media (min-width:1200px) {
.dividebuy-modal.custom-modal .modal-dialog { width: 700px; background: none; box-shadow: none; }
.dividebuy-modal.custom-modal.modal.in-modal .modal-dialog { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }
.dividebuy-modal.custom-modal.modal { overflow-y: hidden !important; }
.dividebuy .tooltip-logo-cart .tooltip-image-width { margin: 0 auto; text-align: center; }
}
 @media screen and (max-width:1200px) {
/*.text-details { white-space: inherit; }*/
.dividebuy-modal.custom-modal .option-note { font-size: 12px; }
}
 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
.dividebuy-modal.custom-modal .text-details { width: 539px; }
.dividebuy-modal.custom-modal .logo-text { margin-bottom: 30px }
.dividebuy-modal.custom-modal .shipping_code_form input.required-entry { width: 54% }
.dividebuy-modal.custom-modal .text-details { white-space: normal }
}
 @media only screen and (min-device-width: 600px) and (max-device-width: 840px) and (orientation: portrait) {
.dividebuy-modal.custom-modal .shipping_code_form input.required-entry { width: 48% }
}
 @media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: landscape) {
.dividebuy-modal.custom-modal .shipping_code_form input.required-entry { width: 48% }
}
 @media screen and (max-width:767px) {
.dividebuy-modal.custom-modal .col-xs-1, .dividebuy-modal.custom-modal .col-xs-10, .dividebuy-modal.custom-modal .col-xs-11, .dividebuy-modal.custom-modal .col-xs-12, .dividebuy-modal.custom-modal .col-xs-2, .dividebuy-modal.custom-modal .col-xs-3, .dividebuy-modal.custom-modal .col-xs-4, .dividebuy-modal.custom-modal .col-xs-5, .dividebuy-modal.custom-modal .col-xs-6, .dividebuy-modal.custom-modal .col-xs-7, .dividebuy-modal.custom-modal .col-xs-8, .dividebuy-modal.custom-modal .col-xs-9 { float: left; }
.dividebuy-modal.custom-modal .dividebuy-row { margin-right: -15px; margin-left: -15px }
.dividebuy-modal.custom-modal .row { margin-right: -15px; margin-left: -15px }
.dividebuy-modal.custom-modal .col-xs-1, .dividebuy-modal.custom-modal .col-sm-1, .dividebuy-modal.custom-modal .col-md-1, .dividebuy-modal.custom-modal .col-lg-1, .dividebuy-modal.custom-modal .col-xs-2, .dividebuy-modal.custom-modal .col-sm-2, .dividebuy-modal.custom-modal .col-md-2, .dividebuy-modal.custom-modal .col-lg-2, .dividebuy-modal.custom-modal .col-xs-3, .dividebuy-modal.custom-modal .col-sm-3, .dividebuy-modal.custom-modal .col-md-3, .dividebuy-modal.custom-modal .col-lg-3, .dividebuy-modal.custom-modal .col-xs-4, .dividebuy-modal.custom-modal .col-sm-4, .dividebuy-modal.custom-modal .col-md-4, .dividebuy-modal.custom-modal .col-lg-4, .dividebuy-modal.custom-modal .col-xs-5, .dividebuy-modal.custom-modal .col-sm-5, .dividebuy-modal.custom-modal .col-md-5, .dividebuy-modal.custom-modal .col-lg-5, .dividebuy-modal.custom-modal .col-xs-6, .dividebuy-modal.custom-modal .col-sm-6, .dividebuy-modal.custom-modal .col-md-6, .dividebuy-modal.custom-modal .col-lg-6, .dividebuy-modal.custom-modal .col-xs-7, .dividebuy-modal.custom-modal .col-sm-7, .dividebuy-modal.custom-modal .col-md-7, .dividebuy-modal.custom-modal .col-lg-7, .dividebuy-modal.custom-modal .col-xs-8, .dividebuy-modal.custom-modal .col-sm-8, .dividebuy-modal.custom-modal .col-md-8, .dividebuy-modal.custom-modal .col-lg-8, .dividebuy-modal.custom-modal .col-xs-9, .dividebuy-modal.custom-modal .col-sm-9, .dividebuy-modal.custom-modal .col-md-9, .dividebuy-modal.custom-modal .col-lg-9, .dividebuy-modal.custom-modal .col-xs-10, .dividebuy-modal.custom-modal .col-sm-10, .dividebuy-modal.custom-modal .col-md-10, .dividebuy-modal.custom-modal .col-lg-10, .dividebuy-modal.custom-modal .col-xs-11, .dividebuy-modal.custom-modal .col-sm-11, .dividebuy-modal.custom-modal .col-md-11, .dividebuy-modal.custom-modal .col-lg-11, .dividebuy-modal.custom-modal .col-xs-12, .dividebuy-modal.custom-modal .col-sm-12, .dividebuy-modal.custom-modal .col-md-12, .dividebuy-modal.custom-modal .col-lg-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px }
.dividebuy-modal.custom-modal .col-xs-1, .dividebuy-modal.custom-modal .col-xs-2, .dividebuy-modal.custom-modal .col-xs-3, .dividebuy-modal.custom-modal .col-xs-4, .dividebuy-modal.custom-modal .col-xs-5, .dividebuy-modal.custom-modal .col-xs-6, .dividebuy-modal.custom-modal .col-xs-7, .dividebuy-modal.custom-modal .col-xs-8, .dividebuy-modal.custom-modal .col-xs-9, .dividebuy-modal.custom-modal .col-xs-10, .dividebuy-modal.custom-modal .col-xs-11, .dividebuy-modal.custom-modal .col-xs-12 { float: left }
.dividebuy-modal.custom-modal .col-xs-12 { width: 100% }
.dividebuy-modal.custom-modal .col-xs-11 { width: 91.66666667% }
.dividebuy-modal.custom-modal .col-xs-10 { width: 83.33333333% }
.dividebuy-modal.custom-modal .col-xs-9 { width: 75% }
.dividebuy-modal.custom-modal .col-xs-8 { width: 66.66666667% }
.dividebuy-modal.custom-modal .col-xs-7 { width: 58.33333333% }
.dividebuy-modal.custom-modal .col-xs-6 { width: 50% }
.dividebuy-modal.custom-modal .col-xs-5 { width: 41.66666667% }
.dividebuy-modal.custom-modal .col-xs-4 { width: 33.33333333% }
.dividebuy-modal.custom-modal .col-xs-3 { width: 25% }
.dividebuy-modal.custom-modal .col-xs-2 { width: 16.66666667% }
.dividebuy-modal.custom-modal .col-xs-1 { width: 8.33333333% }
.dividebuy-modal.custom-modal .col-xs-pull-12 { right: 100% }
.dividebuy-modal.custom-modal .col-xs-pull-11 { right: 91.66666667% }
.dividebuy-modal.custom-modal .col-xs-pull-10 { right: 83.33333333% }
.dividebuy-modal.custom-modal .col-xs-pull-9 { right: 75% }
.dividebuy-modal.custom-modal .col-xs-pull-8 { right: 66.66666667% }
.dividebuy-modal.custom-modal .col-xs-pull-7 { right: 58.33333333% }
.dividebuy-modal.custom-modal .col-xs-pull-6 { right: 50% }
.dividebuy-modal.custom-modal .col-xs-pull-5 { right: 41.66666667% }
.dividebuy-modal.custom-modal .col-xs-pull-4 { right: 33.33333333% }
.dividebuy-modal.custom-modal .col-xs-pull-3 { right: 25% }
.dividebuy-modal.custom-modal .col-xs-pull-2 { right: 16.66666667% }
.dividebuy-modal.custom-modal .col-xs-pull-1 { right: 8.33333333% }
.dividebuy-modal.custom-modal .col-xs-pull-0 { right: auto }
.dividebuy-modal.custom-modal .col-xs-push-12 { left: 100% }
.dividebuy-modal.custom-modal .col-xs-push-11 { left: 91.66666667% }
.dividebuy-modal.custom-modal .col-xs-push-10 { left: 83.33333333% }
.dividebuy-modal.custom-modal .col-xs-push-9 { left: 75% }
.dividebuy-modal.custom-modal .col-xs-push-8 { left: 66.66666667% }
.dividebuy-modal.custom-modal .col-xs-push-7 { left: 58.33333333% }
.dividebuy-modal.custom-modal .col-xs-push-6 { left: 50% }
.dividebuy-modal.custom-modal .col-xs-push-5 { left: 41.66666667% }
.dividebuy-modal.custom-modal .col-xs-push-4 { left: 33.33333333% }
.dividebuy-modal.custom-modal .col-xs-push-3 { left: 25% }
.dividebuy-modal.custom-modal .col-xs-push-2 { left: 16.66666667% }
.dividebuy-modal.custom-modal .col-xs-push-1 { left: 8.33333333% }
.dividebuy-modal.custom-modal .col-xs-push-0 { left: auto }
.dividebuy-modal.custom-modal .col-xs-offset-12 { margin-left: 100% }
.dividebuy-modal.custom-modal .col-xs-offset-11 { margin-left: 91.66666667% }
.dividebuy-modal.custom-modal .col-xs-offset-10 { margin-left: 83.33333333% }
.dividebuy-modal.custom-modal .col-xs-offset-9 { margin-left: 75% }
.dividebuy-modal.custom-modal .col-xs-offset-8 { margin-left: 66.66666667% }
.dividebuy-modal.custom-modal .col-xs-offset-7 { margin-left: 58.33333333% }
.dividebuy-modal.custom-modal .col-xs-offset-6 { margin-left: 50% }
.dividebuy-modal.custom-modal .col-xs-offset-5 { margin-left: 41.66666667% }
.dividebuy-modal.custom-modal .col-xs-offset-4 { margin-left: 33.33333333% }
.dividebuy-modal.custom-modal .col-xs-offset-3 { margin-left: 25% }
.dividebuy-modal.custom-modal .col-xs-offset-2 { margin-left: 16.66666667% }
.dividebuy-modal.custom-modal .col-xs-offset-1 { margin-left: 8.33333333% }
.dividebuy-modal.custom-modal .col-xs-offset-0 { margin-left: 0 }
.shipping_code_form div.validation-advice { margin-left: 0px; }
.dividebuy .tooltip-logo-cart .tooltip-right { width: 100%; }
.dividebuy-modal.custom-modal .form-control { width: 100%; }
.dividebuy .tooltip-logo-cart .tooltip-image-width img { width: 100%; }
.dividebuy .or-divider-sufix, .dividebuy .or-divider-prifix { width: 100% !important; }
.dividebuy-modal.custom-modal .checkout-titile, .dividebuy-modal.custom-modal .modal-heading-title { width: 100%; }
.dividebuy-modal.custom-modal .your-postcode { white-space: normal; }
.dividebuy-modal.custom-modal .shipping-margin { margin: 0; }
.dividebuy-modal.custom-modal .option-note { float: left; margin-bottom: 5px; position: static; width: 100%; margin-top: 10px; font-size: 14px; }
.dividebuy-modal.custom-modal .left-h .mCSB_scrollTools { right: 0px; }
.dividebuy-modal.custom-modal .side-content p { margin-top: 15px; }
.dividebuy-modal.custom-modal .product-image-1 { width: 88px }
.dividebuy-modal.custom-modal.modal-popup .modal-inner-wrap { width: auto; background: none; margin: 10px; }
.dividebuy-modal.custom-modal .text-details { margin-top: 20px; }
.dividebuy-modal.custom-modal .ship-estimation { margin-top: 10px; margin-bottom: 10px; }
.dividebuy .tooltip-logo-cart .tooltip-center { margin: 0 auto; text-align: center; }
.dividebuy .tooltip-logo-cart .tooltip-left { float: left; text-align: left; }
.dividebuy .tooltip-logo-cart .tooltip-image-width { margin: 0 auto; text-align: center; }
.dividebuy .tooltip-logo .hover-instalment, .dividebuy .tooltip-logo-cart .hover-instalment { font-size: 12px; }
.dividebuy-modal.custom-modal .modal-dialog { margin: 10px; }
/*new tooltip*/
.dividebuy .tooltip-logo-cart .dividebuy-tooltip { left: 50%; transform: translateX(-50%); }
.dividebuy .tooltip-logo-cart .dividebuy-tooltip.dividebuy-cart-tooltip-right { right: 0; left: 50%; transform: translateX(-50%); }
.dividebuy .tooltip-logo-cart .dividebuy-tooltip.dividebuy-cart-tooltip-left { left: 50%; transform: translateX(-50%); }
.dividebuy .tooltip-logo-cart { float: none; }
.dividebuy .dividebuy-cart { max-width: 100%; }
.dividebuy-modal.custom-modal .mob-block, .dividebuy .mob-block { display: block }
.dividebuy-modal.custom-modal .ipad-block, .dividebuy .ipad-block { display: none }
.dividebuy-modal.custom-modal .desk-block, .dividebuy .desk-block { display: none }
#dividebuy-product-tooltip { width: 100%; max-width: 350px }
.dividebuy-payment-description .interest-figure { font-size: 12px; margin-top: 4px; }
.dividebuy-payment-description .interest-digit { font-size: 12px; margin-top: 4px; }
.dividebuy-login-modal .btn-grey { float: none; }
.dividebuy-mx-auto { margin: 0px auto; float: none !important }
.dividebuy-footer-link { float: right }
.dividebuy-modal.custom-modal .ship-estimation { margin-bottom: 0; float: none; }
.dividebuy-modal.custom-modal .dividebuy-shipping-button { text-align: center }
.dividebuy-cart-guest-border hr { margin-top: 0; }
.dividebuy-payment-description .data { padding: 5px 0; }
#dt_method_custom_payment .dividebuy-softsearch { position: absolute; top: 32px; right: 0; text-align: left; left: 39px; }
.dividebuy-payment-description { font-family: 'Poppins', sans-serif; clear: both; }
.dividebuy-payment-description .interest-input{ position:relative; left:5px;}
.dividebuy-softsearch a, .dividebuy-softsearch a:hover { display: inline-block; padding-bottom:3px; }
.dividebuy-payment-description .dividebuy-checkout-header .interest-digit .interest-digit-mob { width: 45px; display: inline-block }
.dividebuy-modal.custom-modal .dividebuy-sp-methods { margin-top: 22px; text-align: center; }
.dividebuy-modal.custom-modal .action-link { position: inherit; clear: both; text-align: right }
.dividebuy-modal.custom-modal .continue-text { width: 100% }
.dividebuy-payment-method #dividebuy-softsearch {
    float: none;
    margin-top: 5px;
    text-align: left;
    clear: both;
    padding-left: 24px;
}
.dividebuy-payment-method #dividebuy-softsearch .dividebuy-softsearch a, .dividebuy-payment-method #dividebuy-softsearch .dividebuy-softsearch a:hover{ display:block;}
.dividebuy-payment-method #dividebuy-softsearch {
    margin-top: 5px;
    padding-left: 23px;
}
.dividebuy-payment-method .dividebuy-softsearch {
    text-align: left;
}
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
.dividebuy-modal.custom-modal .col-sm-6 { width: 50%; float: left !important; }
.dividebuy-modal.custom-modal .col-sm-9 { width: 73%; float: left; }
.dividebuy-modal.custom-modal .col-sm-3 { float: left; }
}
 @media only screen and (max-width: 580px) {
.dividebuy-color { font-size: 15px; }
.dividebuy-color b { font-size: 15px; }
.dividebuy-grey-color b { font-size: 15px; }
.dividebuy-modal.custom-modal .ship-estimation { margin-top: 15px; }
.dividebuy-modal.custom-modal .checkout-guest { margin: 0px 0px; }
.dividebuy-modal.custom-modal .modal-body { padding: 0 30px 30px; }
.dividebuy-modal.custom-modal .action-link { margin: 0; margin-top: 15px; text-align: right; margin-bottom: 15px; }
.dividebuy-modal.custom-modal .text-details { white-space: normal; width: initial; margin: 0px 0 35px 0; }
.dividebuy-modal.custom-modal .datas { margin-left: 0; }
.dividebuy-modal.custom-modal .shipping_code_form input.required-entry { width: 100%; height: 35px; margin: 0; }
.dividebuy-modal.custom-modal .left-h, .dividebuy-modal.custom-modal .right-h { width: 100%; float: left; padding-right: 0; }
.dividebuy-modal.custom-modal .right-h { margin-top: 15px; text-align: center; }
.dividebuy-modal.custom-modal input.btn-checkout-modal { float: left; }
.dividebuy-modal.custom-modal .estimate-page .mCSB_inside>.mCSB_container { margin-right: 0; }
/*tooltip*/
     /*.tooltip-logo .tooltip-width, .tooltip-logo-cart .tooltip-center { width: 100%; }*/
.dividebuy .tooltip-width img { width: auto; }
.dividebuy .tooltip-logo { width: 330px; clear: both; }
}
 @media only screen and (max-width: 480px) {
.dividebuy .tooltip-logo-cart .tooltip-image-width img { width: 100%; }
.dividebuy-slip_tooltip_container.slip_tooltip_container { left: 0 !important; right: 0 !important; }
/*.dividebuy-payment-description .dividebuy_instalment_data, .dividebuy-payment-description .dividebuy_instalment_data .data, .dividebuy-payment-description .dividebuy_instalment_data-2, .dividebuy-payment-description .dividebuy_instalment_data-2 .data { width: 100%; }
.dividebuy-payment-description .interest-text { text-align: left; width: 60%; float: left; padding-left: 10px; font-size: 14px; }
.dividebuy-payment-description .interest-digit { text-align: right; padding-right: 10px; font-size: 14px; }
.dividebuy-payment-description .interest-figure { display: inline; }
.dividebuy-payment-description .interest-input { padding-top: 0; width: 15%; }
.dividebuy-payment-description .dividebuy_instalment_data { border-radius: 5px 5px 0px 0px; }
.dividebuy-payment-description .interest-main-figure { width: 85%; }
.dividebuy-payment-description { padding-top: 10px; }*/
}
 @media only screen and (max-width: 360px) {
.dividebuy .tooltip-logo-cart .tooltip-right { margin: 0 auto; text-align: center; }
}
/* css for DivideBuy payment method label */
/*New CSS for tooltip*/
.dividebuyTable {
   display: table;
   width: 100%;
}
.dividebuyTableBody {
   display: table-row-group;
}
.dividebuyTableRow {
   display: table-row;
}
.dividebuyTableRowhead .dividebuyTableCell {
    font-weight: bold;
    line-height: 1.2;
    vertical-align: bottom;
    padding: 8px 10px;
}
.dividebuyTableCell:last-child, .dividebuyTableHead:last-child {
    color: #00b3e3 !important;
}
.checkout-cart-index .dividebuy-tooltip{
   min-width: 400px;
}
/*New CSS ends*/

/* New fin proms updates */
.modals-wrapper.dividebuy-tooltip-modal div#dividebuy_modal {
   font-size: 12px;
   position: absolute;
   z-index: 2147483647;
   background: white;
   transform-origin: center;
   border-radius: 0.5rem;
   padding: 2rem 1rem;
   top: 1.5rem;
   bottom: 1.5rem;
   transform: none;
   right: 1rem;
   left: auto;
   max-width: 46rem;
   border-radius: 1rem;
   box-shadow: -6px 5px 9px 0 rgba(0, 0, 0, 0.4);
   overflow-y: auto;
   margin: unset;
   display: block;
}
.modals-wrapper.dividebuy-tooltip-modal .modal-body{
   padding: unset;
   position: static;

}
.dividebuy-tooltip-modal .modal-content{
   background: unset !important; 
   box-shadow: unset !important; 
   border: unset !important; 
   border-radius: unset !important;
}
.dividebuy-tooltip-modal .dividebuy-tooltip{
   box-shadow: unset;
   border: unset;
}
.dividebuy-tooltip-modal .modal-header .close{
   position: absolute;
   top: 0.25rem;
   right: 0.25rem;
   --size: 4rem;
   --buttonSizePercentage: 50;
   --buttonThickness: 3px;
   --buttonRadius: 2px;
   --buttonColour: #002F6D;
   width: var(--size);
   height: var(--size);
   display: grid;
   place-content: center;
   cursor: pointer;
 }
 .dividebuy-tooltip-modal .modal-header .close::after {
   height: calc((var(--size) / 100)* var(--buttonSizePercentage));
   width: var(--buttonThickness);
   transform-origin: center center;
   transform: translateX(-50%) translateY(-50%) rotate(225deg);
}
.dividebuy-tooltip-modal .modal-header .close::before {
   width: calc((var(--size) / 100)* var(--buttonSizePercentage));
   height: var(--buttonThickness);
   transform-origin: center center;
   transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.dividebuy-tooltip-modal .modal-header .close::before, .dividebuy-tooltip-modal .modal-header .close::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   background: var(--buttonColour);
   border-radius: var(--buttonRadius);
}
.dividebuy-interestfree-logo{
   text-align: center;
   width: 100%;
}
.dividebuy-interestfree-logo img{
   height: 4rem;
   margin-top: 3rem;
   margin-bottom: 1rem;
}
.dividebuyNote {
   font-family: 'Poppins', sans-serif;
   border-radius: 0.5rem;
   padding: 0.5rem 0.75rem;
   color: #002f6d;
}
.dividebuy-tooltip-content { 
   padding: 1.5rem 30px 0px 30px; 
   padding-inline: 1.5rem;
   padding-top: 0;
}
.dividebuyTableRow {
   display: flex;
   width: 100%;
   margin-bottom: 10px;
}
.dividebuyTableRow.dividebuyTableRowhead {
   border-radius: 0.5rem;
   overflow: hidden;
}
.dividebuyTableRow.dividebuyTableRowhead .dividebuyTableCell {
   display: grid;
   place-content: center;
   background: #002F6D;
   color: white;
   font-weight: 500;
   font-size: 12px;
}
.dividebuyTableCell, .dividebuyTableHead {
   font-family: 'Poppins', sans-serif;
   border: 0px solid #999999;
   padding: 3px 10px;
   color: #002F6D;
   width: 33%;
   position: relative;
   text-align: center;
}
.dividebuyTableCellmonth {
   text-align: center;
}
.dividebuy-tooltip-modal .dividebuy-representative-text{
   line-height: 18px;
   padding-top: 9px;
   padding-inline: 0.75rem;
   text-align: center;
   font-size: 12px;
}
.dividebuy__risk-warning, .dividebuy__unreg-disclaimer {
   font-size: 12px;
   line-height: 18px;
   padding-inline: 0.75rem;
   font-family: 'Poppins', sans-serif;
   text-align: center;
}
div#dividebuy-credit-subject{
   margin-bottom: 10px;
}
div#dividebuy-credit-subject .credit_subject {
   font-family: 'Poppins', sans-serif;
   font-size: 12px;
   text-decoration: underline;
   color: #00b3e3;
}
.dividebuy__terms-and-conditions_url {
   text-align: center;
}
.dividebuy__terms-and-conditions_url a{
   color: #00b3e3;
}
.dividebuy-representative-text.representative-text-size{
   font-size: 12px;
   width: 100%;
   display: block;
}
 @media screen and (max-width:767px) {
   .modals-wrapper.dividebuy-tooltip-modal div#dividebuy_modal{
      font-size: 11px;
      width: 95%;
      max-width: 95%;
      inset: 1rem;
      transform-origin: top center;
      transform: translate(0, 0) scale(1);
      border-radius: 1rem;
   }
   .dividebuy-tooltip-content {
      padding: 0px 10px 0px 10px;
   }
   .dividebuyTableRowhead .dividebuyTableCell{
      padding: 5px 5px;
   }
   .dividebuyTableCell, .dividebuyTableHead{
      display: table-cell;
      padding: 3px 5px;
   }
   .dividebuy-tooltip-modal .dividebuy-tooltip{
      min-width: auto;
   }
 }