/*softsearch*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

.dividebuy-softcredit {
    max-width: 350px;
}

.dividebuy-softcredit .dividebuy-modal.custom-modal .action-link {
    display: none
}

.dividebuy-softcredit-center {
    margin: 0px auto
}

.dividebuy-softcredit-right {
    float: right
}

.dividebuy-softcredit-left {
    float: left
}

.dividebuy-softcredit .dividebuy-modal.custom-modal.soft-search .close {
    display: block;
    text-align: right;
    opacity: 1;
    color: #00b3e3;
    width: 20px;
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 0;
    padding: unset !important;
    margin-right: 0px;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 12px;
    right: 12px;
}

.dividebuy-softcredit .dividebuy-modal.custom-modal.soft-search .modal-header {
    padding: 0;
    border-bottom: none;
}

.dividebuy-softcredit .soft-search {
    visibility: visible;
    margin: 0;
    max-width: 100%;
    border-radius: 0;
}

.dividebuy-modal .dividebuy-softcredit .soft-search {
    overflow-x: hidden;
    -webkit-overflow-scrolling: auto !important;
    overflow-y: auto !important;
}

.dividebuy-softcredit .soft-search .close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}

.dividebuy-softcredit .soft-search .modal-content {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 3px #0000004d;
    border: 1px solid #333333 !important;
    border-radius: 10px;
}

.dividebuy-softcredit .soft-search .frame {
    min-height: 600px;
    display: block;
    -webkit-overflow-scrolling: touch;
}

.dividebuy-softcredit .soft-search .modal-body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

/* fastcheck css start */
.dividebuy-softcredit .fastcheck-main {
    font-size: 12px;
    color: #7f7f73;
    font-weight: 400;
    margin-top: 15px;
    display: inline-block;
    margin-bottom: 15px;
}

.dividebuy-softcredit .fastcheck-main:hover, .fastcheck-main:focus {
    opacity: 1;
}

.dividebuy-softcredit .fastcheck {
    float: left;
    line-height: 1;
    width: 20px;
}

.dividebuy-softcredit .fastcheck img {
    max-width: 100%;
}

.dividebuy-softcredit .fastcheck-text {
    padding-top: 3px;
    float: left;
    padding-left: 5px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.dividebuy-softcredit .dividebuy-softcredit-search {
    width: 350px;
    display: inline-block;
    text-align: center;
}

.dividebuy-softcredit .dividebuy-softcredit-search-center, .dividebuy-softcredit-search-cart-center {
    margin: 0 auto;
}

.dividebuy-softcredit .softcredit {
    width: 100%;
}

.dividebuy-softcredit .dividebuy-softcredit-search-right, .dividebuy-softcredit .dividebuy-softcredit-search-cart-right {
    float: right;
}

.dividebuy-softcredit .dividebuy-softcredit-search-cart {
    display: inline-block;
    text-align: center;
}

.dividebuy-softcredit .soft-search .popup .dividebuy-loader-set {
    position: absolute;
}

.dividebuy-softcredit .soft-search .popup .dividebuy-loader-set #dividebuy-loader {
    background: rgba(0, 0, 0, 0) url(../images/ring-loader.svg) no-repeat scroll 0 0 / 100% auto;
    height: 85px;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 85px;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.dividebuy-softcredit .softsearch-btn {
    background: #3e8ede;
    margin-top: 10px;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    display: block;
}

.dividebuy-softcredit .btn.softsearch-btn:hover, .dividebuy-softcredit .btn.softsearch-btn:focus {
    opacity: 1;
    background: #3e8ede;
    text-decoration: none
}

.dividebuy-softcredit .dividebuy-softcredit-search-checkout .softsearch-btn {
    min-width: 279px;
    margin-top: 10px;
    padding: 1.4em 0;
    margin-right: 15px;
    float: left
}

.dividebuy-softcredit .dividebuy-softcredit-search.dividebuy-softcredit-search-checkout {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.dividebuy-softcredit .dividebuy-softcredit-search.dividebuy-softcredit-search-checkout .fastcheck-main {
    font-size: 11px;
    color: #7f7f73;
    font-weight: 400;
    margin-top: 31px;
    display: inline-block;
    margin-bottom: 15px;
    float: left;
}

.dividebuy-softcredit .btn.softsearch-btn {
    padding: 10px 18px;
    color: #fff;
}

.dividebuy-softcredit a:hover.fastcheck-main, .dividebuy-softcredit a:visited.fastcheck-main {
    color: #7f7f73;
}

/*softsearch end*/

dt#dt_method_custom_payment input {
    margin-top: 11px;
}

dt#dt_method_custom_payment .span_imgchange {
    float: left;
    margin-top: 0px;
}

dt#dt_method_custom_payment .softcredit {
    float: left;
    width: auto;
}

dt#dt_method_custom_payment .softcredit .softsearch-btn {
    min-width: 281px;
    margin-top: 0;
}

.dividebuy-fastcheck-text {
    padding-top: 5px;
    line-height: 1;
}

.dividebuy-softsearch img {
    vertical-align: middle;
    margin-right: 6px;
    display: inline-block;
}

.dividebuy-softcredit .soft-search .modal-lg, .dividebuy-softcredit .soft-search .modal-xl {
    width: 600px;
    margin: 10px auto;
}

/* Medium devices (tablets, less than 992px)*/

@media (min-width: 1281px) {
    .dividebuy-softcredit .soft-search .modal-dialog, .dividebuy-softcredit .soft-search .modal-dialog {
        width: 600px !important;
        margin: 10px auto !important;
        left: 0 !important;
    }
}

/* Large devices (desktops, less than 1200px)*/

@media (max-width: 1199px) {
    .dividebuy-softcredit .soft-search .modal-dialog, .dividebuy-softcredit .soft-search .modal-dialog {
        width: 600px !important;
        margin: 10px auto !important;
        left: 0 !important;
    }

    .dividebuy-softcredit .dividebuy-softcredit-search.dividebuy-softcredit-search-checkout .fastcheck-main {
        margin-top: 15px;
        float: none
    }

    .dividebuy-softcredit .dividebuy-softcredit-search-checkout .softsearch-btn {
        float: none;
        margin-right: 0;
        max-width: 100%
    }
}

@media (max-width: 991px) {
    .dividebuy-softcredit .soft-search .modal-dialog, .dividebuy-softcredit .soft-search .modal-dialog {
        width: 600px !important;
        margin: 10px auto !important;
        left: 0 !important;
    }

    .dividebuy-softcredit .soft-search .frame {
        height: 800px;
        display: block;
    }

    .dividebuy-softcredit .softsearch-btn {
        min-width: 100%;
    }

    .dividebuy-softcredit .dividebuy-softcredit-search {
        width: 100%;
    }

    .dividebuy-softcredit .dividebuy-softcredit-search.dividebuy-softcredit-search-checkout .fastcheck-main {
        margin-top: 15px;
        float: none
    }

    .dividebuy-softcredit .dividebuy-softcredit-search-checkout .softsearch-btn {
        float: none;
        margin-right: 0;
        max-width: 100%
    }
}

@media only screen and (max-width: 749px) {
    .dividebuy-softcredit .dividebuy-softcredit-search-cart {
        padding-left: 22px;
        display: block;
        width: 100%;
    }

    /*.dividebuy-softcredit-search{width:100%; }*/
    .dividebuy-softcredit .dividebuy-softcredit-search-checkout .softsearch-btn {
        float: none;
        margin-right: 0;
        max-width: 100%
    }
}

@media (max-width: 767px) {
    .dividebuy-softcredit .soft-search .modal-dialog, .dividebuy-softcredit .soft-search .modal-dialog {
        max-width: 646px;
    }

    .dividebuy-softcredit .soft-search .frame {
        height: 370px;
        display: block;
    }

    .dividebuy-softcredit .softsearch-btn {
        min-width: auto;
        max-width: 350px
    }

    .dividebuy-softcredit .softsearch-btn-cart {
        margin: 0px auto;
    }
}

@media (max-width: 576px) {
    .dividebuy-softcredit .soft-search .modal-dialog, .dividebuy-softcredit .soft-search .modal-dialog {
        max-width: 350px;
        margin: 0.5rem auto;
    }

    .checkout-index-index .modal-popup.dividebuy-modal .modal-inner-wrap{
        max-width: 350px !important;
    }

    .dividebuy-softcredit .soft-search .frame {
        height: 558px;
        display: block;
    }

    .dividebuy-softcredit .softsearch-btn {
        min-width: auto;
        max-width: 350px
    }

    .dividebuy-softcredit .softsearch-btn-cart {
        margin: 0px auto;
    }

    .dividebuy-softcredit .dividebuy-softcredit-search-checkout .softsearch-btn {
        float: none;
        margin-right: 0;
        max-width: 100%
    }

    .dividebuy-softcredit .dividebuy-softcredit-search-cart {
        padding-left: 0px;
    }

    dt#dt_method_custom_payment .softcredit .softsearch-btn {
        margin-left: 0;
    }

    .dividebuy-softcredit .btn.softsearch-btn {
        padding: 10px 14px;
        color: #fff;
        margin-top: 10px;
    }

    dt#dt_method_custom_payment .softcredit {
        margin-top: 5px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .dividebuy-softcredit .soft-search .modal-dialog, .dividebuy-softcredit .soft-search .modal-dialog {
        max-width: 600px;
    }
}

/* fastcheck css end  */