<?php $checkCart = $this->getItemArray(); ?>
<?php $linkData = $this->getCartLinkData(); ?>
<?php $storeName = $linkData['store_name']; ?>
<?php if (!$storeName): ?>
  <?php $storeName = 'Store'; ?>
<?php endif; ?>
<?php
$priceHelper = $this->getPriceHelper(); // Instance of Pricing Helper
$checkoutSession = $this->getCheckoutSession();
?>
<?php /** Code for popup **/ ?>

<div class="dividebuy-modal-container">

    <p tabindex="0"
       class="text-left cart-heading"> <?php echo __('These products qualify for interest free credit:') ?> </p>
    <div class="col-sm-7">
        <div class="dividebuy-row">
            <div class="shoppingcartTable">
                <div class="shopping-scroll">
                    <div class="shopping-height"> <?php echo $this->getDivideBuyContent(); ?> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 side-content col-sm-offset-1">
        <div class="dividebuy-row">
            <p tabindex="0" class=""><?php echo __('To spread the cost click \'Continue\'.'); ?>
              <?php //echo $telephone;?>
            </p>
            <span tabindex="0" style="<?php echo $linkData['custom_css']; ?>"
                  class="blue-text grand-total"><?php echo __('Grand Total :') ?><?php echo $priceHelper->currency($this->getDivideBuyTotal(),
                true, false); ?></span>
            <div class="dividebuy-sp-methods"><a href="#" id="btn_proceed_to_shipping" class="btn-grey">Continue</a>
            </div>

        </div>
    </div>
    <div class="dividebuy-guest-border dividebuy-cart-guest-border clear">
        <hr/>
    </div>
    <div class="col-md-12 col-sm-12 clearfix">
        <div class="dividebuy-row">
            <div class="shoppingcartTable">
                <div tabindex="0"
                     class="text-left text-details"> <?php echo __('These products are not available for interest free credit:'); ?> </div>
                <div class="col-sm-7">
                    <div class="dividebuy-row">
                        <div class="shopping-scroll">
                            <div class="shopping-height"> <?php echo $this->getNonDivideBuyContent(); ?> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<div class="action-link blue-text">
    <img src="<?php echo $this->getViewFileUrl('Dividebuy_CheckoutConfig::images/dividebuy-logonew.png'); ?>"
         alt="dividebuy-logo"/>
    <a href="https://dividebuy.co.uk/privacy-policy" target="_blank">Privacy Policy</a> | <a target="_blank" href="https://dividebuy.co.uk/cookies" id="cookie">Cookie Policy</a>
</div>
<script>
    require(
        [
            'jquery'
        ],

        function () {
            jQuery(document).ready(function () {
                var retailerName = "<?php echo addslashes($storeName);?>";
              <?php if (!$checkoutSession->getCheckoutPage()): ?>
                jQuery('#close-dividebuy-modal').on('click', function () {
                    jQuery(".dividebuy-loader-set").show();
                    setTimeout(function () {
                        location.reload();
                    }, 5000);
                });
                jQuery('#close-dividebuy-modal').click(function () {
                    jQuery('html,body').animate({
                        scrollTop: jQuery('#test').css('top')
                    }, 800, function () {

                        jQuery('html, body').animate({
                            scrollTop: 0
                        }, 800);

                    });
                });
              <?php endif;?>
                jQuery("#btn_proceed_to_shipping").click(function () {
                    jQuery("#dividebuy-shipping-loader").show();
                    var startTime = new Date();
                    var url = '<?php echo $this->getUrl("checkoutconfig/index/shippingmodal"); ?>';
                    displayShippingModal(url, startTime, retailerName);
                    return false;
                });

            });
        });

</script>
