<?php
//code to get shipping post code
$quote = $this->getCheckoutSession()->getQuote();
$postCode = $quote->getShippingAddress()->getPostcode();
$checkoutSession = $this->getCheckoutSession();
$storeName = $this->getRetailerHelper()->getStoreName();
?>

<div class="shipping_information pull-left">
    <div class="">
        <div class="option-note" tabindex="0"><?php echo __('Enter your postcode to view delivery options'); ?></div>
        <div class="dividebuy-row">
            <div class="col-sm-8">
                <div class="shipping_note" tabindex="0" id="shippingNote">
                    <strong>Please check that the postcode you enter is correct. Shipping is calculated using your
                        postcode and cannot be changed later without cancelling your order and starting again.</strong>
                </div>
            </div>
            <div class="col-xs-9 col-sm-4 dividebuy-shipping-button dividebuy-mx-auto">
                <div class="form-group field-wrapper">
                    <input aria-label="Postcode" type="text" name="user_Postcode" id="userPostcode"
                           class="required-entry form-control" aria-describeby="postcode_error"
                           value="<?php echo $postCode; ?>" id="userPostcode"/>
                    <div class="field-placeholder" onclick="focus_on_element('userPostcode')" input-mask>
                        <span><?php echo __('Postcode'); ?></span>
                    </div>
                    <div class="validation-advice" id="postcode_error" aria-live="assertive"></div>
                </div>
                <a href="javascript:void(0)" class="btn-grey ship-estimation" id="get_shipping_estimate"
                   title="View options">View Options</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>

<script>
    jQuery(document).ready(function () {
        var retailerName = "<?php echo addslashes($storeName);?>";
      <?php if (!$checkoutSession->getCheckoutPage()): ?>
        jQuery('#close-dividebuy-modal').on('click', function () {
            jQuery(".dividebuy-loader-set").show();
            setTimeout(function () {
                location.reload();
            }, 5000);
        });
        jQuery('#close-dividebuy-modal').click(function () {
            jQuery('html,body').animate({
                scrollTop: jQuery('#test').css('top')
            }, 800, function () {

                jQuery('html, body').animate({
                    scrollTop: 0
                }, 800);

            });
        });
      <?php endif;?>

        /**** for formatting the postcode starts ****/
        if (jQuery("#userPostcode").val().length !== 0) {
            jQuery("#userPostcode").closest('.field-wrapper').addClass('hasValue');
            loadShippingMethod();
        }

        jQuery("#userPostcode").keyup(function () {
            var newPostCode = checkPostCode(document.getElementById('userPostcode').value);
            if (newPostCode) {
                document.getElementById('userPostcode').value = newPostCode;
                jQuery("#postcode_error").html("");
            }
        });
        /**** formatting postcode ends ****/
      <?php if (!$this->getCheckoutSession()->getCheckoutPage()): ?>
        jQuery('#dividebuy-modal').on('hidden.bs.modal', function () {
            jQuery(".dividebuy-loader-set").show();
            setTimeout(function () {
                location.reload();
            }, 5000);
        });
        jQuery('#scroll').click(function () {
            jQuery('html,body').animate({
                scrollTop: jQuery('#test').css('top')
            }, 800, function () {

                jQuery('html, body').animate({
                    scrollTop: 0
                }, 800);

            });
        });
      <?php endif;?>

        // Get the shipping Estimate
        jQuery(document).on("click", "#get_shipping_estimate", function () {
            var newPostCode = checkPostCode(document.getElementById('userPostcode').value);
            if (newPostCode === "") {
                jQuery("#postcode_error").html("Please enter valid postcode");
                jQuery(".all_shipping_methods").html("");
            } else {
                //ga('send', 'event', 'Postcode input and view options', 'click', 'View options');
                var url = '<?php echo $this->getUrl("checkoutconfig/index/getshippingmethods"); ?>';
                var postcode = jQuery('#userPostcode').val();

                getShippingEstimate(postcode.trim(), url, retailerName);
            }
        });

        function loadShippingMethod() {
            var newPostCode = checkPostCode(document.getElementById('userPostcode').value);
            if (newPostCode) {
                document.getElementById('userPostcode').value = newPostCode;
            }
            var url = '<?php echo $this->getUrl("checkoutconfig/index/getshippingmethods"); ?>';
            var postcode = jQuery('#userPostcode').val();
            getShippingEstimate(postcode.trim(), url, retailerName);
        }

    });
</script>
