<?php

use Dividebuy\Common\Utility\StoreConfigHelper;

/** @var StoreConfigHelper $retailerHelper */

$retailerHelper = $this->getRetailerHelper();
$storeUrl = $retailerHelper->getStoreUrl();
$storeName = $retailerHelper->getStoreName();
$data = $this->getCartLinkData();
$guestCheckout = $retailerHelper->isGuestCheckoutEnabled($retailerHelper->getStoreId());
?>

<div class="clearfix"></div>

<div class="dividebuy-row dividebuy-login-modal">
  <?php if ($guestCheckout) : ?>
      <div class="checkout-guest">
          <div class="col-sm-9">
              <h4 class="checkout-titile" tabindex="0">
                <?php echo __("Checkout as a ".$data['store_name']." guest"); ?>
              </h4>
              <p class="continue-text" tabindex="0">
                  By continuing to the DivideBuy checkout, you agree to DivideBuy's <a
                          href="https://dividebuy.co.uk/terms-and-conditions" target="_blank" class="blue-text">Terms
                      &amp; Conditions.</a>
              </p>
          </div>
          <div class="col-sm-3 text-center">
              <button class="btn-grey" id="btn_continue_guest">Continue</button>

          </div>
          <div class="col-sm-12 dividebuy-guest-border clear">
              <hr/>
          </div>
      </div>
  <?php endif; ?>
    <div class="clear">
        <div class="col-sm-12">
            <div class="modal-heading">
                <h4 class="checkout-titile" tabindex="0">
                  <?php echo __("Returning ".$data['store_name']." Customer"); ?>
                </h4>
                <small class="text-grey modal-heading-title-small">
                    Log in to <?php echo $data['store_name']; ?>
                </small>
            </div>
        </div>
        <form id="user_login_form" method="post">
            <div class="col-sm-9">
                <div class="dividebuy-row">
                    <div class="col-xs-9 col-sm-6 dividebuy-mx-auto">
                        <div class="form-group field-wrapper">
                            <input type="text" name="userEmail" class="required-entry validate-email form-control"
                                   id="userEmail"/>
                            <div class="field-placeholder" onclick="focus_on_element('userEmail')" input-mask>
                                <span>Email Address</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-6 dividebuy-mx-auto">
                        <div class="form-group field-wrapper">
                            <input type="password" name="userPassword" class="required-entry form-control"
                                   id="userPassword"/>
                            <div class="field-placeholder" onclick="focus_on_element('userPassword')" input-mask>
                                <span>Password</span>
                            </div>
                            <div class="validation-advice" id="inputValidationMsg" style="" aria-live="assertive"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="custom-login">
                    <input type="submit" class="btn-grey" id="btn_user_login" value="Log In"/>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="logo-text">
                    <span class="login-message" tabindex="0">
                        Once you are logged into <?php echo $storeName; ?>, you will be redirected to DivideBuy's checkout to complete your purchase using interest free credit. By continuing, you agree to DivideBuy's <a
                                href="https://dividebuy.co.uk/terms-and-conditions" class="blue-text" target="_blank">Terms &amp; Conditions.</a>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="action-link blue-text">
    <img src="<?php echo $this->getViewFileUrl('Dividebuy_CheckoutConfig::images/dividebuy-logonew.png'); ?>"
         alt="dividebuy-logo"/>
    <a href="https://dividebuy.co.uk/privacy-policy" target="_blank">Privacy Policy</a> | <a target="_blank"
                                                                                             href="https://dividebuy.co.uk/cookies"
                                                                                             id="cookie">Cookie
        Policy</a>
</div>

<script>
    jQuery(document).ready(function () {
        var retailerName = "<?php echo addslashes($storeName);?>";
        jQuery("#btn_continue_guest").click(function () {

            var url = '<?php echo $this->getUrl("checkoutconfig/index/continueguest"); ?>';
            guestLogin(url, retailerName);
        });

        jQuery(".button_cancel").click(function () {
            jQuery(".custom-modal").css("display", "none");
            jQuery(".modals-overlay").css("display", "none");
            location.reload(true);
        });

        jQuery("#btn_user_login").click(function () {

            var email = jQuery("#userEmail").val();
            var password = jQuery("#userPassword").val();
            var url = '<?php echo $this->getUrl("checkoutconfig/index/userLogin"); ?>';
            userLogin(email.trim(), password.trim(), url, retailerName);
            return false;
        });
    });
</script>
