<?php
    // getting softsearch iframe
use Dividebuy\CheckoutConfig\Block\Cart;

/** @var Cart $block */
$softSearchHtml = $block->getLayout()->createBlock(Cart::class)->getSoftSearchPageHtml();
?>

<!-- Html code of softcredit search -->
<div class="dividebuy-softsearch dividebuy-text-left">
    <a href="javascript:void(0)" class="link-dividebuy-softsearch"><span><img src="<?php echo $block->getViewFileUrl('Dividebuy_CheckoutConfig::images/mini-logo.svg'); ?>" alt="dividebuy-logo" />Check your eligibility</span></a>
    <br/>Fast check - won't affect your credit rating.
</div>


<!-- link the stylesheets -->
<link rel="stylesheet" type="text/css" href="<?php echo $block->getViewFileUrl('Dividebuy_CheckoutConfig::css/dividebuy-style.css')?>">
<link rel="stylesheet" type="text/css" href="<?php echo $block->getViewFileUrl('Dividebuy_CheckoutConfig::css/dividebuy-softsearch.css')?>">

<!-- Javascript code to show hide the modal popup -->
<script type="text/javascript">
    require(
        [
            'jquery',,
            'Magento_Ui/js/modal/modal',
            'text!Dividebuy_CheckoutConfig/templates/modal/modal-popup.html'        
        ],
        function ($,modal,popupTpl) {
            var softSearchHtml = '<?php echo $softSearchHtml; ?>';
            $(document).on('click', '.link-dividebuy-softsearch', function() {
                jQuery("#dividebuy-shipping-loader").show();
                jQuery('#dividebuy-modal').modal('openModal');
                jQuery("#dividebuy-modal-container").html(softSearchHtml);
                jQuery(".modals-wrapper").addClass("dividebuy-softcredit");
                jQuery(".custom-modal").addClass("soft-search dividebuy-soft-search");
                var iframe = document.getElementById("frame-dividebuy-softcredit-check");
                if (iframe.attachEvent) {
                    iframe.attachEvent("onload", function () {
                        jQuery("#dividebuy-shipping-loader").hide();
                    });
                } else {
                    iframe.onload = function () {
                        jQuery("#dividebuy-shipping-loader").hide();
                    };
                }
            });

            jQuery('#dividebuy-modal').on('modalclosed', function (e) {
                jQuery(".modals-wrapper").removeClass("dividebuy-softcredit");
                jQuery(".custom-modal").removeClass("soft-search dividebuy-soft-search");
                var softsearchIframeSrc = jQuery('#frame-dividebuy-softcredit-check').attr('src');
            });

            // Close softsearch popup on click of cancel window button.
            window.addEventListener('message', receiver, false);
            function receiver(e) {
                if (e.data == 'soft-search-popup-close') {
                    jQuery('#dividebuy-modal').modal('closeModal');
                }
                if(e.data && e.data.redirectUrl) {
                    window.location.href = e.data.redirectUrl
                }
            }
        });
</script>
