<?php
/** @var Cart $this */

use Dividebuy\CheckoutConfig\Block\Cart;

$linkData               = $this->getCartLinkData();
$checkCart              = $this->getItemArray();
$currencysymbol = $this->getSymbol();
$checkoutWithCouponFlag = $this->checkoutWithCouponCode();
$maxInstalmentKey = $this->getMaxInstalmentKey();
$bannerBackgroundColor = $this->getBannerBackgroundColor();
$dividebuyProductsTotal = $this->getDivideBuyTotal();
$blockObj= $block->getLayout()->createBlock('Dividebuy\CheckoutConfig\Block\Cart');
$rep_amount = $blockObj->GetAvgIbcOrderVal();
if($rep_amount == 0){
    $rep_amount = 2000;
}
$rep_interestRate = $blockObj->GetAprRate();
$rep_numberOfMonths = $blockObj->GetAvgIbcTermLen();
if($rep_numberOfMonths == 0){
    $rep_numberOfMonths = $maxInstalmentKey;
}
$terms_condition_url = $this->getTermsAndConditionsUrl();
?>
<?php if ($linkData['status'] == 1): ?>
    <?php if ($linkData['position'] == "before" && $checkCart['dividebuy']): ?>
    <div class="dividebuy dividebuy-cart dividebuy-cart-center">
        <?php if (isset($linkData['prefix_label']) && $linkData['prefix_label'] != ""): ?>
                <span class="or-class" style="<?php echo $linkData['prefix_css']; ?>"><?php echo $linkData['prefix_label'] ?></span>
            <?php endif;?>
            <?php if ($this->checkMinOrderAmount() == 1 && $this->checkMaxOrderAmount() == 1 && $checkoutWithCouponFlag != 0): ?>
                <div class="tooltip-logo-cart" tabindex="0">
                   <div class="tooltip-center">
                        <span class="or-divider-prefix" style="<?php echo $linkData['custom_css']; ?>" class=""></span>
                        <div id="dividebuy_image_after_cart" class="relative dividebuy-calculator">
                            <a href="javascript:void(0)" id="divide-buy-modal" class="dividebuy-retailer-color">
                                <span class="dividebuy-spreadcost">Pay with <img src="<?php echo $this->getViewFileUrl('Dividebuy_CheckoutConfig::images/paywithdividebuy.svg'); ?>" alt="dividebuy-logo" /></span>
                            </a>
                            <div id="dividebuy-text" class="active dividebuy-text-cart">
                                <span class="dividebuy-left-text"><span id="dividebuy-lowest"></span>
                            </div>
                            <div class="dividebuy__tooltip-container">
                                <a href="javascript:void(0)" id="dividebuy_tooltip_open"> Click Here to find out more.</a>
                            </div>
                            <div id="dividebuy-credit-subject">
                                <a href="https://dividebuy.co.uk/terms-and-conditions" target="_blank" class="credit_subject">Credit subject to status. T&amp;Cs apply.</a>
                            </div>
                            <div class="dividebuy-tooltip" style="display:none">
                                <div class="dividebuy-tooltip-content"></div>
                                <p class="dividebuy__unreg-disclaimer">
                                    *Interest free credit agreements of 12 months or less are not regulated by the Financial Conduct Authority and are not subject to the jurisdiction of the Financial Ombudsman Service.
                                </p>
                                <div class="dividebuy-interestfree-logo">
                                    <img src="<?php echo $this->getViewFileUrl('Dividebuy_CheckoutConfig::images/logobanner.svg');?>" alt="dividebuy-logo">
                                </div>
                                <div class="dividebuy-representative-text"><?php echo $this->getRepresentativeAprExampleHtml($rep_amount, $rep_interestRate, $rep_numberOfMonths);?>
                                </div>
                                <div class="dividebuy__terms-and-conditions">
                                    <p class="dividebuy__risk-warning">
                                        Finance is provided by Zopa Bank Limited, trading as DivideBuy. Lending is subject to your
                                        individual circumstances and satisfactory completion of Zopa Bank Limited’s credit checks.
                                        It is important that you do not take on more borrowing than you can afford. If you miss your
                                        repayments this may impact your credit rating and make it more difficult to obtain credit in
                                        the future. Lending is subject to Zopa Bank Limited’s terms and conditions.
                                    </p>
                                </div>
                                <?php if (!empty($terms_condition_url)) { ?>
                                    <div class="dividebuy__terms-and-conditions_url">
                                        <a href="<?= htmlspecialchars($terms_condition_url, ENT_QUOTES, 'UTF-8'); ?>" target="_blank">
                                                Full credit terms and conditions
                                        </a>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                require(
                    [
                        'jquery'
                    ],
                    function() {
                        jQuery(document).on('mousemove', ".span_dividebuymin" , function(e) {
                            mousemovebtn(e, this)
                        });
                        jQuery(document).on({
                            mouseenter: function () {
                                // Hover code
                                 var content = "<div class='dividebuy-slip_tooltip_container slip_tooltip_container grey'><div class='slip_tooltip_content'><span class='tooltip-box'><span class='blue'>DivideBuy - The easy Interest-Free Checkout.</span> Spend <?php echo $currencysymbol . $this->getMinOrderAmount(); ?> in total to be eligible to Spread the Cost, Interest-Free using our <span class='blue'>secure platform</span> to fill out our <span class='blue'>60 second application</span>. With us you'll get an <span class='blue'>instant decision. 96% acceptance rate</span> and a <span class='blue'>choice of instalment options</span> to suit you.</span></div></div>";
                                if (!(jQuery('body').find('.slip_tooltip_container').length)) {
                                    jQuery(content).appendTo('body').fadeIn('slow');
                                }
                            },
                            mouseleave: function () {
                                // Hover out code
                                jQuery('.slip_tooltip_container').remove();
                            }
                        }, '.span_dividebuymin');
                    });

                </script>
            <?php elseif (!$checkoutWithCouponFlag == 0) : ?>
                 <div class="tooltip-logo-cart" tabindex="0">
                    <div class="tooltip-center">
                        <span class="or-divider-prefix" style="<?php echo $linkData['custom_css']; ?>"></span>
                        <div id="dividebuy_image_after_cart" class="relative dividebuy-calculator">
                            <a href="#" class="dividebuy-retailer-color clear order-place-disabled" style="clear: both;position: relative; margin-bottom:11px;">
                                <span tabindex="0"  style="<?php echo $linkData['custom_css']; ?>;opacity:0.5;" class="dividebuy-spreadcost span_dividebuymin">
                                        Pay with <img src="<?php echo $this->getViewFileUrl('Dividebuy_CheckoutConfig::images/paywithdividebuy.svg'); ?>" alt="dividebuy-logo" />
                                </span>
                            </a>
                            <div id="dividebuy-text" class="active dividebuy-text-cart">
                                <span class="dividebuy-left-text"><span id="dividebuy-lowest"></span><img src="<?php echo $this->getViewFileUrl('Dividebuy_CheckoutConfig::images/logobanner.png'); ?>"/></span>
                            </div>
                            <div class="dividebuy__tooltip-container">
                                <a href="javascript:void(0)" id="dividebuy_tooltip_open"> Click Here to find out more.</a>
                            </div>
                            <div id="dividebuy-credit-subject">
                                <a href="https://dividebuy.co.uk/terms-and-conditions" target="_blank" class="credit_subject">Credit subject to status. T&amp;Cs apply.</a>
                            </div>
                            <div class="dividebuy-tooltip" style="display:none">
                                <div class="dividebuy-tooltip-content"></div>
                                 <p class="dividebuy__unreg-disclaimer">
                                    *Interest free credit agreements of 12 months or less are not regulated by the Financial Conduct Authority and are not subject to the jurisdiction of the Financial Ombudsman Service.
                                </p>
                                <div class="dividebuy-interestfree-logo">
                                    <img src="<?php echo $this->getViewFileUrl('Dividebuy_CheckoutConfig::images/logobanner.svg');?>" alt="dividebuy-logo">
                                </div>
                                <div class="dividebuy-representative-text"><?php echo $this->getRepresentativeAprExampleHtml($rep_amount, $rep_interestRate, $rep_numberOfMonths);?>
                                </div>
                                <div class="dividebuy__terms-and-conditions">
                                    <p class="dividebuy__risk-warning">
                                        Finance is provided by Zopa Bank Limited, trading as DivideBuy. Lending is subject to your
                                        individual circumstances and satisfactory completion of Zopa Bank Limited’s credit checks.
                                        It is important that you do not take on more borrowing than you can afford. If you miss your
                                        repayments this may impact your credit rating and make it more difficult to obtain credit in
                                        the future. Lending is subject to Zopa Bank Limited’s terms and conditions.
                                    </p>
                                </div>
                                <?php if (!empty($terms_condition_url)) { ?>
                                    <div class="dividebuy__terms-and-conditions_url">
                                        <a href="<?= htmlspecialchars($terms_condition_url, ENT_QUOTES, 'UTF-8'); ?>" target="_blank">
                                                Full credit terms and conditions
                                        </a>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                require(
                    [
                        'jquery'
                    ],
                    function() {
                        jQuery(document).on('mousemove', ".span_dividebuymin" , function(e) {
                            mousemovebtn(e, this)
                        });
                        jQuery(document).on({
                            mouseenter: function () {
                                // Hover code
                                var content = "<div class='dividebuy-slip_tooltip_container slip_tooltip_container coupon-box'><div class='slip_tooltip_content'><span class='tooltip-box'>This coupon code cannot be used in conjunction with Interest-Free Credit.</span></div></div>";
                                if (!(jQuery('body').find('.slip_tooltip_container').length)) {
                                    jQuery(content).appendTo('body').fadeIn('slow');
                                }
                            },
                            mouseleave: function () {
                                // Hover out code
                                jQuery('.slip_tooltip_container').remove();
                            }
                        }, '.span_dividebuymin');
                    });

                </script>
            <?php else: ?>
                <div class="tooltip-logo-cart" tabindex="0">
                    <div class="tooltip-center">
                        <span class="or-divider-prefix" style="<?php echo $linkData['custom_css']; ?>" class=""></span>
                        <div id="dividebuy_image_after_cart" class="relative dividebuy-calculator">
                            <div id="dividebuy-text" class="active dividebuy-text-cart">
                                <span class="dividebuy-left-text"><span id="dividebuy-lowest"></span>
                            </div>
                            <div class="dividebuy__tooltip-container">
                                <a href="javascript:void(0)" id="dividebuy_tooltip_open"> Click Here to find out more.</a>
                            </div>
                            <div id="dividebuy-credit-subject">
                                <a href="https://dividebuy.co.uk/terms-and-conditions" target="_blank" class="credit_subject">Credit subject to status. T&amp;Cs apply.</a>
                            </div>
                            <div class="dividebuy-tooltip" style="display:none">
                                <div class="dividebuy-tooltip-content"></div>
                                 <p class="dividebuy__unreg-disclaimer">
                                    *Interest free credit agreements of 12 months or less are not regulated by the Financial Conduct Authority and are not subject to the jurisdiction of the Financial Ombudsman Service.
                                </p>
                                <div class="dividebuy-interestfree-logo">
                                    <img src="<?php echo $this->getViewFileUrl('Dividebuy_CheckoutConfig::images/logobanner.svg'); ?>" alt="dividebuy-logo">
                                </div>
                                <div class="dividebuy-representative-text"><?php echo $this->getRepresentativeAprExampleHtml($rep_amount, $rep_interestRate, $rep_numberOfMonths);?>
                                </div>
                                <div class="dividebuy__terms-and-conditions">
                                    <p class="dividebuy__risk-warning">
                                        Finance is provided by Zopa Bank Limited, trading as DivideBuy. Lending is subject to your
                                        individual circumstances and satisfactory completion of Zopa Bank Limited’s credit checks.
                                        It is important that you do not take on more borrowing than you can afford. If you miss your
                                        repayments this may impact your credit rating and make it more difficult to obtain credit in
                                        the future. Lending is subject to Zopa Bank Limited’s terms and conditions.
                                    </p>
                                </div>
                                <?php if (!empty($terms_condition_url)) { ?>
                                    <div class="dividebuy__terms-and-conditions_url">
                                        <a href="<?= htmlspecialchars($terms_condition_url, ENT_QUOTES, 'UTF-8'); ?>" target="_blank">
                                                Full credit terms and conditions
                                        </a>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif;?>
            <?php if (isset($linkData['suffix_label']) && $linkData['suffix_label'] != ""): ?>
                <span class="or-class" style="<?php echo $linkData['suffix_css']; ?>"><?php echo $linkData['suffix_label']; ?></span>
            <?php endif;?>
        <?php echo $this->getChildHtml('dividebuy.checkout.modal.before'); ?>
        <div id="dividebuy-softsearch-content">
            <!-- Checking if product page softsearch is enabled or not. -->
            <?php if ($linkData['softsearch_enable']): ?>
                <div class="dividebuy-softsearch">
                    <a href="javascript:void(0)" id="dividebuy-softsearch-text" class="link-dividebuy-softsearch"><span><img src="<?php echo $this->getViewFileUrl('Dividebuy_CheckoutConfig::images/mini-logo.svg'); ?>" alt="dividebuy-logo" />Check your eligibility</span></a>
                    <br/>Fast check - won't affect your credit rating.
                </div>
            <?php endif; ?>
        </div>
        </div>
    <?php endif;?>
<?php endif;?>