<?php
/** @var StoreConfigHelper $retailerHelper */
/** @var CartHelper $cartHelper */

use Dividebuy\Common\Utility\CartHelper;
use Dividebuy\Common\Utility\StoreConfigHelper;

$retailerHelper = $this->getRetailerHelper();
$cartHelper = $this->getCheckoutConfigBlock();
$storeName = $retailerHelper->getStoreName();
$encodedTokenAndAuthentication = base64_encode(implode(':', $retailerHelper->getRetailerStoreTokenAndAuthentication()));
$checkCart = [];
if (!empty($cartHelper)) {
  $checkCart = $cartHelper->getItemArray();
}
?>
<!-- Modal Content -->
<div id="dividebuy-modal" class="modal-body clearfix" tabindex="0">
    <div id="dividebuy-modal-container"></div>
    <div id="dividebuy-shipping-loader" class="dividebuy-loader-set" style="margin:0;display: none" role="alert" aria-label="Please wait">
        <div id="dividebuy-loader"></div>
    </div>
    <div id="all_shipping_methods"></div>
</div>
<!-- Modal Content Ends -->

<script type="text/javascript">
    // Used to initialize the modal
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal',
            'text!Dividebuy_CheckoutConfig/templates/modal/modal-popup.html'
        ],

        function($,modal,popupTpl) {
            <?php if ($retailerHelper->getGoogleAnalyticUniqueKey($retailerHelper->getStoreId()) != ""): ?>
                //ga('create', '<?php echo $retailerHelper->getGoogleAnalyticUniqueKey($retailerHelper->getStoreId()); ?>', 'auto');
            <?php endif; ?>
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: false,
                title: false,
                buttons: [],
                responsiveClass: '',
                showLoader: false,
                popupTpl: popupTpl,
                keyEventHandlers: {
                    /**
                     * Escape key press handler
                     */
                    escapeKey: function () {}
                }
            };

            var popup = modal(options, jQuery('#dividebuy-modal'));
            var retailerName = "<?php echo addslashes($storeName);?>";
            jQuery("#divide-buy-modal").on("click",function(){
                var url = '<?php echo $this->getUrl("checkoutconfig/index/continuetocheckout"); ?>';
                displayDividebuyModal(url, retailerName);
                $(".modals-wrapper").addClass("dividebuy-user-login");
                return false;
            });

            jQuery(document).on('modalclosed', '.dividebuy-user-login #dividebuy_modal', function (e) {
                jQuery(".modals-wrapper").removeClass("dividebuy-user-login");
                jQuery('#dividebuy-modal-container .dividebuy-login-modal').remove();
                jQuery('#dividebuy-modal-container .action-link.blue-text').remove();
            });

            function DbuyPlaceOrder(instalmentsDuration, customerEmail){
                var url = '<?php echo $this->getUrl("orderconfig/index/getorderdata"); ?>';
                jQuery(".dividebuy-loader-set").show();
                $.ajax({
                    url: url,
                    type: "POST",
                    success: function(result) {
                        // jQuery(".loader-set").hide();
                        var zipcode = checkPostCode(result.zipcode);
                        var shippingMethod = result.shippingMethod;
                        if(!zipcode || shippingMethod != '' ){
                            var redirectUrl = '<?php echo $this->getUrl("checkoutconfig/index/continuetocheckout"); ?>';
                            displayDividebuyModal(redirectUrl, retailerName);
                            return false;
                        }
                        
                        var url = '<?php echo $this->getUrl('orderconfig/index/create'); ?>'
                        var storeTokenAndAuthentication = '<?php echo $encodedTokenAndAuthentication ?>';
                        placeNewOrder(zipcode, shippingMethod, url, '', retailerName, storeTokenAndAuthentication, instalmentsDuration, customerEmail);
                        return false;
                    },
                    error: function () {
                        displayErrorMessage(retailerName);
                    }
                });

            }

            function inValidatePostCode(){
                setTimeout(function() {
                    jQuery(".dividebuy-loader-set").css('display','none');
                }, 5000);
                
                jQuery(".dividebuy-error").remove();
                jQuery("ul.dividebuy-messages ").append('<li class="error-msg dividebuy-error"><ul><li><span>Please enter valid postcode </span></li></ul></li>');
                jQuery('html, body').animate({
                    scrollTop: jQuery(".dividebuy-messages").offset().top
                }, 1000);
            }

            function initPopup(instalmentsDuration){
                jQuery('#scroll').prop("disabled", false);
                var url = '<?php echo $this->getUrl('checkoutconfig/index/continuetocheckout'); ?>';
                displayDividebuyModal(url, retailerName);
                //$(this).attr("checked", "checked");
                return false;
            }

            //Updating the avaialble instalments on  
            $(document).on("click", "#dbpayment", function() {
                var instalmentsUrl = '<?php echo $this->getUrl("checkoutconfig/index/getavailableinstallments"); ?>';
                getAvailableInstallments(instalmentsUrl);                
            });
            
            $(document).on("click", "#dbpayment-modal", function() {
                $("#dbpayment").prop("checked", true);
                var instalmentsDuration = jQuery(".dividebuy-input-radio.instalment:checked").val();
                var customerEmail = jQuery('#customer-email').val();
                <?php if (isset($checkCart['nodividebuy']) && $checkCart['nodividebuy'] <= 0): ?>
                    // jQuery(".loader-set").css('display','block');
                    DbuyPlaceOrder(instalmentsDuration, customerEmail);
                <?php else: ?>
                    initPopup(instalmentsDuration);
                <?php endif;?>
            });
        }
    );
</script>
