<?php if ($block->isPossibleOnepageCheckout()): ?>
    <?php echo $block->getChildHtml('dividebuy.checkout.before'); ?>
    <button type="button"
            data-role="proceed-to-checkout"
            title="<?php /* @escapeNotVerified */echo __('Proceed to Checkout') ?>"
            data-mage-init='{"Magento_Checkout/js/proceed-to-checkout":{"checkoutUrl":"<?php /* @escapeNotVerified */echo $block->getCheckoutUrl(); ?>"}}'
            class="action primary checkout<?php echo ($block->isDisabled()) ? ' disabled' : ''; ?>"
            <?php if ($block->isDisabled()): ?>disabled="disabled"<?php endif;?>>
        <span><?php /* @escapeNotVerified */echo __('Proceed to Checkout') ?></span>
    </button>
    <?php echo $block->getChildHtml('dividebuy.checkout.after'); ?>
<?php endif?>
